* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fuentes */
@font-face {
    font-family: miFuenteLime;
    src: url(../fuentes/Limelight-Regular.ttf);
}

@font-face {
    font-family: miFuenteJust;
    src: url(../fuentes/JustAnotherHand-Regular.ttf);
}

 @font-face {
    font-family: miFuentePath;
    src: url(../fuentes/PathwayGothicOne-Regular.ttf);
}

@font-face {
    font-family: miPath2;
    src: url(../fuentes/Pathway_Extreme.ttf);
}

@font-face {
    font-family: miFuentePoppins;
    src: url(../fuentes/Poppins..ttf);
}

body {
    background-image: url(/imagenes/image\ 1\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    overflow: hidden;
    background-position-y: -129px;
    object-fit: cover;
}

h1 {
    font-family: miFuenteLime;
    color: #ffffff;
    margin: 60px;
    margin-top: 30px;
    font-weight: normal;
    font-size: 42px;
    margin-left: 100px;
}

.logo_pagina img {
    width: 100px;
    height: 65px;
    left: 10px;
    top: -130px;
    position: relative;  
}

ul {
    font-family: miFuentePath;
    margin: 40px;
    margin-top: -80px;
}

li {
    background-color: #d9d9d931;
    margin: -5px;
    width: 310px;
    text-align: center;
    height: 47px;
    list-style-type: none;   
    border-radius: 10px;
    
}

li:hover {
    background-color: gray;
}

li a {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 40px;
}

li img {
   display: flex;
   justify-content: flex-start;
   bottom: -10px;
   position: relative;
   margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    margin-top: 80px;
    transform: translate(500px);
}

.titulo1 {
    top: -5%;
    position: absolute;
}

input {
    background-color: #d9d9d9c0;
    font-size: 40px;
    margin: 10px;
    width: 321px;
    height: 40px;
    margin-left: 20px;
    border: none;
    bottom: -50px;
    position: relative;
    padding-left: 70px;
    font-size: 16px;
    font-family: miFuentePath;
}


.imagen {
    width: 20px;
    position: absolute;
    bottom: 38%;
    left: 50px;
}

.cont {
    width: 20px;
    position: absolute;
    left: 50px;
    bottom: -5%;
}

::placeholder {
    color: #05050583;
    font-family: miFuentePath;
    font-size: 20px;
}

ul {
    font-family: miFuentePath;
    margin: 50px;
    margin-top: 5px;
}

li {
    background-color: #d9d9d931;
    margin: -5px;
    width: 310px;
    text-align: center;
    height: 47px;
    list-style-type: none;   
    border-radius: 10px;
}

li a {
    color: #fff;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 40px;
}

li img {
    display: flex;
    justify-content: flex-start;
    bottom: -10px;
    position: relative;
    margin: 20px;
}

.admin {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
}

.admin img {
    margin-right: 50px;
    width: 20px;
    height: 20px;
}

.admin h4 {
    font-family: miFuentePath;
    background-color: #d9d9d957;
    margin-right: 5px;
    width: 80px;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: normal;
}


.tit_pagina {
    color: #fff;
    font-family: miFuentePath;
    position: absolute;
    top: -330px;
    left: 0px;
    transform: translate(-10%, -1000%);
    font-size: 20px;
}

.tit_pagina h4 {
    font-weight: normal;
}

.barra {
    position: relative;
    top: -20px;
    right: 50px;
    width: 856px;
    height: 100px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: miFuentePath;
    font-weight: normal;
}

th {
    font-family: miFuentePath;
    font-weight: normal;
}

td {
    font-family: miFuentePath;
    font-weight: normal;
}

.barra1 {
    position: absolute;
    top: -370px;
    left: -15px;
    transform: translate(-10%, -100%);
    width: 847px;
    height: 120px;
    padding: 20px;
    color: #fff;
    font-family: miFuentePath;
    font-weight: normal;
}

.barra2 {
    position: relative;
    top: -20px;
    right: 50px;
    width: 850px;
    height: 100px;
    padding: 20px;
    color: #fff;
    font-weight: normal;
    font-family: miFuentePath;  
}

.barra2 label {
    font-family: miFuentePath;
}

.barra3 {
    position: absolute;
    top: -370px;
    left: -16px;
    transform: translate(-10%, -100%);
    width: 845px;
    height: 120px;
    padding: 20px;
    color: #fff;
    font-family: miFuentePath;
    font-weight: normal
}

.barra4 {
    position: absolute;
    top: -370px;
    left: -16px;
    transform: translate(-10%, -100%);
    width: 845px;
    height: 120px;
    padding: 1px;
    color: #fff;
}


.btcargar {
    top: 0px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 23px;
    width: 60px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 30px;
    color: #000;
    cursor: pointer;
    border: none;
}

.btcargarrecord {
    top: 0px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 23px;
    width: 60px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 10px;
    color: #000;
    cursor: pointer;
    border: none;

}

.btcargaraprob {
    top: 0px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 23px;
    width: 45px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 65px;
    color: #000;
    cursor: pointer;
    border: none;
}

.btbuscarplan {
    top: 4px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 23px;
    width: 45px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 480px;
    color: #000;
    cursor: pointer;
    border: none;
}

.planificacion-completa {
    font-family: miFuentePath;

}

.plan-docente label {
    font-family: miFuentePath;
}


.btcancelarrecord {
    top: 280px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 58px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 743px;
    color: #000;
    cursor: pointer;
    border: none;
}

.datos {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: relative;
    top: -410px;
    left: 395px;
    height: 20px;
    width: 807px;
    font-family: miFuentePath;
}

legend {
    font-family: miFuentePath;
    font-weight: normal;
    text-align: center;
    font-size: 23px;
}

.datos th {
    font-weight: normal;
}

.enviar {
    top: -83px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 60px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 750px;
    color: #000;
    cursor: pointer;
    border: none;
}

.guardinscrip {
    top: -20px;
    height: 10px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 10px;
    width: 0px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 230px;

}

.enviaraprob {
    top: -396px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 60px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 730px;
    color: #000;
    cursor: pointer;
    border: none;
}

.imprimir {
    top: -120px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 60px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 790px;
    color: #000;
    cursor: pointer;
    border: none;
}

.sigantrecord {
    top: -120px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 0;
    bottom: -10px;
    position: relative;
    left: 285px;
    color: #000;
    cursor: pointer;
    border: none;
}

.guarcambio {
    top: -84px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 110px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 750px;
    color: #000;
    cursor: pointer;
    border: none;
}

.aprobar {
    position: absolute;
    bottom: 0px;
    top: 4px;
    left: 91%;
    width: auto;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    

}


.titcurs_pagina {
    color: #fff;
    position: absolute;
    top: -400px;
    left: 0px;
    transform: translate(-10%, -1000%);
}

.referencia {
    top: 0px;
    height: 20px;
    width: 10px;
}

.buscar {
    top: 0px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 55px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 510px;
    color: #000;
    cursor: pointer;
    border: none;
}

.crear {
    top: 0px;
    height: 20px;
    font-family: miFuentePath;
    background-color: #fff;
    font-size: 20px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    padding: 0;
    bottom: -60px;
    position: relative;
    left: 8px;
    color: #000;
}

.datoscurs {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: absolute;
    top: 278px;
    left: 399px;
    height: 20px;
    width: 847px;
}

.inscripcion {
    border-color: #363434;
 
    color: #e0dada;
    position: relative;
    top: -35px;
    left: -25px;
    height: 20px;
    width: 850px;
    border-radius: 5px;
    font-family: miFuentePath;
    font-weight: normal;
    overflow: hidden;   
    overflow-y: scroll;
    height: 500px;
    margin-left: 5px;
    margin-top: 400px

}






.nom, .sexoest, .nomt, .cedula, .correo, .ocupacion, .provincia, .calle {
    margin-left: 50px;
}

.fechnac {
    margin-left: 80px;
}

.cursos-adm {
    font-family: miFuentePath;
}

.curso {
    margin-left: 50px;
    top: 250px;
}

.inpcedula, .inpcorreo   {
    margin-left: 45px;
  
}

.inpnomt, .inpapet, .inpnumero, .foto2x2 {
    margin-left: 38px;
}

.inpcalle {
    margin-left: 52px;
}

.inpprovincia {
    margin-left: 27px;
}




.inscripcion input {
    height: 20px;
    top: 0px;
    width: 125px;
    border-radius: 5px;
    display: inline-block;
    width: 25%;
   
   
   

}

section {
    width: 846px;
    color: #fff;
    display: flex;
    margin-top: -870px;
    margin-left: -75px;
}

.referencia {
    top: 0px;
    height: 20px;
    width: 10px;
}

.datosestudiante {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: absolute;
    top: 280px;
    left: 400px;
    height: 20px;
    width: 845px;
}

.datosrecord1 {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: absolute;
    top: 310px;
    left: 400px;
    height: 20px;
    width: 845px;

}

.datosrecord2 {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: absolute;
    top: 310px;
    left: 400px;
    height: 20px;
    width: 845px;
    
}

.datosusuarios {
    border-color: #979393;
    background-color: #ffffff83;
    color: #0d0c0c;
    position: absolute;
    top: 280px;
    left: 400px;
    height: 20px;
    width: 847px;
}

/* Celulares */ 
@media  screen and (max-width: 390px) {


ul::before {
    opacity: 80%;
    content: "Deslice Hacia Abajo para ver informacion";
    color: white; 
    font-size: 20px; 
    font-weight: bold; 
}
    
ul {
    font-family: miFuentePath;
    margin: 5px;
    margin-top: 50px;
}

li {
    background-color: #d9d9d931;
    margin: -15px;
    width: 300px;
    text-align: center;
    height: 30px;
    list-style-type: none;   
    border-radius: 10px;
    
}

li:hover {
    background-color: gray;
}

li a {
    color: #fff;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 40px;
}

li img {
   display: flex;
   justify-content: flex-start;
   bottom: -1px;
   position: relative;
   margin: 20px;
}

.admin img {
    margin-right: 50px;
    width: 20px;
    height: 20px;
}

.admin h4 {
opacity: 0;
}


   
}


/* Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}