<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record De Notas</title>
    <link rel="stylesheet" href="/css/estilos_admin.css">
    <link rel="icon" href="/imagenes/logo.png">
</head>
<body>
  <header>
      <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/imagenes/logo.png" alt="">
            </figure>
        </a>

      

      <nav> 
      <ul>

          <li><img src="/imagenes/bxs-school(1).svg" alt="cursos">
              <a href="a_cursos.html">ADMINISTRACION CURSOS
          </a></li>

          <li><img src="/imagenes/bxs-pencil.svg" alt="inscripcion">
              <a href="a_inscripcion.html">INSCRIPCION 
          </a></li>

          <li> <img src="/imagenes/bxs-book-content.svg" alt="planificacion">
              <a href="a_planificacion.html">PLANIFICACION DOCENTE
          </a></li>

          <li><img src="/imagenes/bx-file.svg" alt="record">
              <a href="a_recordnota.html">RECORD DE NOTAS              
          </a></li>
              
          </a></li> 
          <li><img src="/imagenes/bx-user.svg" alt="usuario">
              <a href="a_usuarios.html">GESTION USUARIOS
              
          </a></li> 
          <li><img src="/imagenes/bxs-log-out.svg" alt="cerrar">
              <a href="index.html">CERRAR SESION              
          </a></li>

      </ul>
      </nav>
  </header>
  <main>
        <section>
            <div class="tit_pagina">
                <h4>RECORD</h4>
  
            </div>
            <form>
                <fieldset class="barra3">
                    <legend>BUSCAR RECORD DE NOTA</legend>

                    <label for="busqueda">MATRICULA</label>
                    <input type="search" class="referencia" id="busqueda" placeholder="1000045">
                    <label for="curso">CURSO</label>
                        <select name="curso" id="curso" required>
                            <option value="">- Elija un curso -</option>
                            <optgroup label="Nivel Primario">
                            <option value="pp">Pre-primario</option>
                            <option value="1p">1° Grado</option>
                            <option value="2p">2° Grado</option>
                            <option value="3p">3° Grado</option>
                            <option value="4p">4° Grado</option>
                            <option value="5p">5° Grado</option>
                            <option value="6p">6° Grado</option>
                            <optgroup label="Nivel Secundario">
                            <option value="1s">1° Grado</option>
                            <option value="2s">2° Grado</option>
                            <option value="3s">3° Grado</option>
                            <option value="4s">4° Grado</option>
                            <option value="5s">5° Grado</option>
                            <option value="6s">6° Grado</option>
                            <option value="6s">Cargar Todo</option>

                    </select>

                    

                    <label for="seccion">SECCION</label>
                    <select name="seccion" id="seccion" required>

                        <option value="ES">Elija una Seccion</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>

                    </select>
                    <label for="period">PERIODO</label>
                    <select name="period" id="period" required>
                        <option value="">- Elija un periodo -</option>
                        <option value="">2022-2023</option>
                        <option value="">2023-2024</option>
                    </select>

                    <input type="button" class="btcargarrecord" name="cargar" value="Cargar">
                     <input type="reset" class="btcancelarrecord" name="Cancelar" value="Cancelar">

            
                </fieldset>

    
            


                
            </form>
        </section>
    </main>

    <table class="datosestudiante" border="1">
        <thead>
            <tr>
                <th>NOMBRE: </th>
                <td>Jose Miguel</td>
                <th>APELLIDO:</th>
                <td>Reyes</td>
                <th>MATRICULA:</th>
                <td>1000045</td>
                <th>CURSO:</th>
                <td>6° Grado</td>
                <th>SECCION:</th>
                <td>A</td>
                <th>PERIODO:</th>
                <td>2023-2024</td>

            </tr>
        </thead>
    </table>

    <table class="datosrecord2" border="1">
        <thead> 
          <th>SEGUNDO SEMESTRE</th>
          <tr>
            <th>ASIGNATURA</th>
            <th>TAREA</th>
            <th>EXAMEN</th>
            <th>PARTICIPACION</th>
            <th>ASISTENCIA</th>
            <th>PROMEDIO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LENGUA ESPAÑOLA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>MATEMATICAS</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>CIENCIAS SOCIALES</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>CIENCIAS NATURALES</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>FISICA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>EDUACACION FINANCIERA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
    
          </tr>
          <tr>
            <td>INGLES</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
          </tr>
        </tbody>
      </table>

      <input type="button" class="imprimir" name="imprimir" value="Imprimir">
     <a href="a_recordnota.html"><input type="button" class="sigantrecord" name="sigantrecord" value="Semestre Anterior" > </a>



      
    



</body>
</html>