<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
        <div class="milogo">
            <a href="p_alphaTeam.html">
                <figure class="logo_pagina">
                    <img src="/static/imagenes/logo.png" alt="">
                </figure>
            </a>
        </div>
            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor" class="imagen-profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>

        <!-- <nav class="nav"> 
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                </a></li>
                
                <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                    <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                </a></li>
                <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                </a></li>
                <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                    <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                </a></li>
                <li class="ayuda-tablet"><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/profesor/ayuda">AYUDA
                </a></li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                </a></li> 
        </ul>
        </nav> -->
    </header>
    <div class="cout">
            <button class="menu">
                <img src="/static/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                     <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
        </div>
    <main>
        <section>
            <div class="preguntas_container">
                <article class="preguntas">
                    <h3>Preguntas Frecuentes</h3>

                    <!-- Pregunta 1 -->
                    <details>
                        <summary> ¿Cómo puedo acceder a mi cuenta de profesor?</summary>
                        <p>Para acceder a tu cuenta de profesor, visita nuestra página de inicio e ingresa tu nombre de usuario y contraseña en los campos proporcionados. Si es tu primera vez, sigue las instrucciones para crear una nueva cuenta.</p>
                    </details>
                
                    <!-- Pregunta 2 -->
                    <details>
                        <summary>¿Cómo restablezco mi contraseña si la olvidé?</summary>
                        <p>Si olvidaste tu contraseña, puedes contactar al administrador y él te dirá los pasos a seguir.</p>
                    </details>

                    <!-- Pregunta 3 -->
                    <details>
                       <summary>¿Cómo puedo agregar nuevas calificaciones?</summary>
                        <p>Puedes verificar tus calificaciones y resultados de exámenes en tu cuenta de estudiante. Busca la sección de "Calificaciones" y allí encontrarás la información detallada sobre tus calificaciones y exámenes.</p>
                    </details>
                    <!-- Pregunta 4 -->
                    <details>
                       <summary>¿Cómo envío tareas y trabajos a mis profesores?</summary> 
                        <p>Para enviar tareas y trabajos a tus profesores, sigue las instrucciones proporcionadas por ellos. Puede ser a través del sistema de correo electrónico interno del sistema estudiantil o utilizando una función específica de envío de tareas.</p>
                    </details>

                    <!-- Pregunta 5 -->
                    <details>
                       <summary>¿Qué debo hacer si encuentro un error en mi perfil o información personal?</summary>
                        <p>Si encuentras un error en tu perfil o información personal, comunícate con el departamento de soporte técnico o administrativo para informar el problema. Ellos te guiarán sobre cómo corregir la información incorrecta.</p>
                    </details>
                </article>
            </div>
        </section>
    </main>
</body>
</html>