<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor" class="imagen-profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Informacion de Usuario
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
                
            </div>
            </div>
    </header>
    
    <div class="cout">
            <button class="menu">
                <img src="/static/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                     <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-comment-error.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/reportar">REPORTAR UN PROBLEMA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
        </div>
    <main>
        <section>
            <div class="preguntas_container">
                <article class="preguntas">
                    <h3>Preguntas Frecuentes</h3>

                    <!-- Pregunta 1 -->
                    <details>
                        <summary> ¿Cómo puedo acceder a mi cuenta de profesor?</summary>
                        <p>Para acceder a tu cuenta de profesor, visita nuestra página de inicio e ingresa tu matrícula y contraseña en los campos proporcionados. Si es tu primera vez, sigue las instrucciones para crear una nueva cuenta.</p>
                    </details>
                
                    <!-- Pregunta 2 -->
                    <details>
                        <summary>¿Cómo restablezco mi contraseña si la olvidé?</summary>
                        <p>Si olvidaste tu contraseña, puedes contactar al administrador y él te dirá los pasos a seguir.</p>
                    </details>

                    <!-- Pregunta 3 -->
                    <details>
                       <summary>¿Cómo puedo agregar nuevas calificaciones?</summary>
                        <p>Puedes agregar nuevas calificaciones en la página CALIFICACIONES. Busca la sección de "Calificaciones" y allí podrás seleccionar el curso, la materia y el periodo en el que deseas agregar tus calificaciones.</p>
                    </details>
                    <!-- Pregunta 4 -->
                    <details>
                       <summary>¿Como puedo editar o eliminar calificaciones?</summary> 
                        <p>Si deseas editar o eliminar calificaciones, puedes entrar a dicha sección y hacer clic sobre la nota que ya pusiste, ahi podrás eliminarla y dejarla en 0, o editar la que ya pusiste.</p>
                    </details>

                    <!-- Pregunta 5 -->
                    <details>
                       <summary>¿Como puedo subir mi planificacion de cada curso?</summary>
                        <p>Si deseas subir tus planificaciones, puedes buscar en la sección "Planificacion", y allí encontrarás un apartado que dice curso, materia y periodo, seleccionas al que vayas a agregar una nueva planificacion y luego buscas y seleccionas el archivo que quieras subir. A continuación, hacer clic en el botón "ENVIAR" y se enviará tu planificación correctamente. Si deseas eliminar una planificacion que ya subiste, puedes hacerlo en el apartado de acciones, dentro de la misma pagina y haces clic al boton eliminar.</p>
                    </details>
                </article>
            </div>
        </section>
    </main>
</body>
</html>