<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
    </header>
        
    <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                </a></li>
                <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                    <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                </a></li>
                <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                </a></li>
                <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                    <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                </a></li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/profesor/ayuda">AYUDA
                </a></li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                </a></li> 
            </ul>
        </div>
    </div>

    <main>
        <section>
            <div class="calificaciones_docente1">
                <form>
    <fieldset>
        <legend>CALIFICACIONES</legend>
        <label for="cur">Cursos</label>
        <select name="cur" id="cur" required>
            <option value="">- Elija un curso - </option>
            <optgroup label="Nivel Secundario"></optgroup>
            <option value="">1ro de secundaria</option>
            <option value="">2do de secundaria</option>
            <option value="">3ro de secundaria</option>
            <option value="">4to de secundaria</option>
            <option value="">5to de secundaria</option>
            <option value="">6to de secundaria</option>
        </select>

        <label for="asig">Materia</label>
        <select name="asig" id="asig" required>
            <option value="">- Elija una materia -</option>
            <option value="">Lengua Española</option>
            <option value="">Matemáticas</option>
            <option value="">Ciencias Sociales</option>
            <option value="">Ciencias Naturales</option>
            <option value="">Física</option>
            <option value="">Educación financiera</option>
            <option value="">Inglés</option>
        </select>

        <label for="period">Periodo</label>
        <select name="period" id="period" required>
            <option value="">- Elija un periodo -</option>
            <option value="">2022-2023</option>
            <option value="">2023-2024</option>
        </select>

        <input type="submit" value="CARGAR" class="boton">
        <br>
        <input type="submit" value="Imprimir x Estudiante" class="imprimir">
        <input type="submit" value="Imprimir x Curso" class="imprimir">
        <br><br>
    </fieldset>
</form>

<div class="tabla1">
    <table border="1">
        <tr>
            <th class="complete">NOMBRE COMPLETO</th>
            <th>MATRICULA</th>
            <th>TAREAS</th>
            <th>EXAM</th>
            <th>PART</th>
            <th>ASIST</th>
            <th>PROM</th>
        </tr>

        {% for estudiante in estudiante %}
        <tr>
            <td>{{ estudiante[0] }}</td>  
            <td>{{ estudiante[1] }}</td> 
            <td><input type="text" maxlength="3"></td>
            <td><input type="text" maxlength="3"></td>
            <td><input type="text" maxlength="3"></td>
            <td><input type="text" maxlength="3"></td>
            <td><input type="text" maxlength="3"></td>
        </tr>
        {% endfor %}
    </table>
</div>

<input type="submit" value="Publicar Notas" class="publicar">

        </section>
        
    </main>
</body>
</html>