<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificacion Docente</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
       

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
    </header> 
    
    <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
            <ul>
                 <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
            </ul>
        </div>
    </div>
    <main>
        <section>
          <form class="planificacion_docente" action="/alphaTeam/profesor/planificacion" method="POST" enctype="multipart/form-data">
    <fieldset class="planif_fielsed">
        <legend class="plan_docente">CARGAR PLANIFICACIÓN</legend>

        <!-- NIVEL -->
        <label for="curso1">Nivel</label>
        <select name="curso1" id="curso1" required>
            <option value="">- Elija un curso -</option>
            <option value="1ro">1ro de secundaria</option>
            <option value="2do">2do de secundaria</option>
            <option value="3ro">3ro de secundaria</option>
            <option value="4to">4to de secundaria</option>
            <option value="5to">5to de secundaria</option>
            <option value="6to">6to de secundaria</option>
        </select>

        <!-- MATERIAS -->
        <label for="asigL">Materia</label>
        <select name="asigL" id="asigL" required>
            <option value="">- Elija una materia -</option>
            <option value="1">Lengua Española</option>
            <option value="2">Matemáticas</option>
            <option value="3">Ciencias Sociales</option>
            <option value="4">Ciencias Naturales</option>
            <option value="5">Física</option>
            <option value="6">Educación Financiera</option>
            <option value="7">Inglés</option>
        </select>

        <!-- PERIODOS -->
        <label for="period">Periodo</label>
        <select name="period" id="period" required>
            <option value="2024-2025" selected>2024-2025</option>
        </select>

        <br><br>
        <label for="planificacion" class="cargar-plan"></label>
        <input type="file" id="planificacion" name="planificacion" class="planificar" required>
    </fieldset>

    <input class="enviar_borrar" type="submit" name="enviar" value="ENVIAR">
    <input class="enviar_borrar" type="reset" value="CANCELAR">
</form>

<table class="tabla3">
    <tr>
        <td>NIVEL</td>
        <td>MATERIA</td>
        <td>PERIODO</td>
        <td>ARCHIVOS ENVIADOS</td>
    </tr>
    {% for planificacion in planificaciones %}
    <tr>
        <td>{{ planificacion[1] }}</td>
        <td>{{ planificacion[3] }}</td>
        <td>{{ planificacion[4] }}</td>
        <td><a href="/static/uploads/{{ planificacion[5] }}" download>{{ planificacion[5] }}</a></td>
    </tr>
    {% endfor %}
</table>


        </section>
    </main>
</body>
</html>