<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificacion Docente</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
       

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
    </header> 
    
    <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
            <ul>
                 <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
            </ul>
        </div>
    </div>
    <main>
        <section>
            <form class="planificacion_docente">
                <fieldset class="planif_fielsed">
                    <legend class="plan_docente">CARGAR PLANIFICACIÓN</legend>
                    <label for="curso1">Nivel</label>
                        <select name="curso1" id="curso1" required>
                            <option value="">- Elija un curso -</option>
                            <optgroup label="Nivel Primario">
                            <option value="pp">Pre-primario</option>
                            <option value="1p">1° Grado</option>
                            <option value="2p">2° Grado</option>
                            <option value="3p">3° Grado</option>
                            <option value="4p">4° Grado</option>
                            <option value="5p">5° Grado</option>
                            <option value="6p">6° Grado</option>
                            <optgroup label="Nivel Secundario">
                            <option value="1s">1° Grado</option>
                            <option value="2s">2° Grado</option>
                            <option value="3s">3° Grado</option>
                            <option value="4s">4° Grado</option>
                            <option value="5s">5° Grado</option>
                            <option value="6s">6° Grado</option>
                    </select>
                    <label for="period">Periodo</label>
                        <select name="period" id="period" required>
                            <option value="">- Elija un periodo -</option>
                            <option value="">2022-2023</option>
                            <option value="">2023-2024</option>
                        </select>

                   <br><br>
                    <label for="planificacion" class="cargar-plan"></label>
                    <input type="file" id="planificacion" class="planificar" value="">



                </fieldset>

                <input class="enviar_borrar" type="button" name="enviar" value="ENVIAR">
                <input class="enviar_borrar" type="reset" value="CANCELAR">

            </form>
        </section>
    </main>
</body>
</html>