<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="/css/estilos_prof.css">
    <link rel="icon" href="/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
         <a href="p_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="p_usuarioprofesor.html" >Lic. Carlos Acosta
                <img src="/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="p_contraseñaprofesor.html">Cambio de contraseña
                <img src="/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="p_reportar_problema.html">Reportar un problema
                <img src="/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
        <nav class="nav"> 
            <ul>
                <li class="cal-tablet"><img src="/imagenes/bx-notepad.svg" alt="nota">
                    <a href="p_calificaciones.html">CALIFICACIONES
                </a></li>
                <li><img src="/imagenes/bx-calendar.svg" alt="calendario">
                    <a href="p_horario.html">HORARIO ESCOLAR
                </a></li>
                <li><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="p_informacionestudiante.html">INFORMACION ESTUDIANTE
                </a></li>
                <li><img src="/imagenes/bxs-book-content.svg" alt="evaluar">
                    <a href="p_cargarplanificacion.html">PLANIFICACION
                </a></li>
                <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="p_ayuda.html">AYUDA
                </a></li>
                <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/index.html">CERRAR SESION
                </a></li> 
            </ul>
        </nav>
        </header>
        <div class="cout">
            <button class="menu">
                <img src="/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                    <li><img src="/imagenes/bx-notepad.svg" alt="nota">
                        <a href="p_calificaciones.html">CALIFICACIONES
                    </a></li>
                    <li><img src="/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="p_horario.html">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="p_informacionestudiante.html">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="p_cargarplanificacion.html">PLANIFICACION
                    </a></li>
                    <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="p_ayuda.html">AYUDA
                    </a></li>
                    <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/index.html">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
        </div>

        <main>
            <section>
                <form class="calificaciones_docente">
                    <fieldset>
                        <legend>CALIFICACIONES</legend>
                        <label for="cur">Cursos</label>
                        <select name="cur" id="cur" required>
                            <option value="">- Elija un curso - </option>
                            <optgroup label="Nivel Primario"></optgroup>
                            <option value="">Kinder</option>
                            <option value="">Pre-primario</option>
                            <option value="">1ro de primaria</option>
                            <option value="">2do de primaria</option>
                            <option value="">3ro de primaria</option>
                            <option value="">4to de primaria</option>
                            <option value="">5to de primaria</option>
                            <option value="">6to de primaria</option>
                            <optgroup label="Nivel Secundario"></optgroup>
                            <option value="">1ro de secundaria</option>
                            <option value="">2do de secundaria</option>
                            <option value="">3ro de secundaria</option>
                            <option value="">4to de secundaria</option>
                            <option value="">5to de secundaria</option>
                            <option value="">6to de secundaria</option>
                        </select>

                        <label for="asig">Materia</label>
                        <select name="asig" id="asig" required>
                            <option value="">- Elija una materia -</option>
                            <option value="">Lengua Española</option>
                            <option value="">Matemáticas</option>
                            <option value="">Ciencias Sociales</option>
                            <option value="">Ciencias Naturales</option>
                            <option value="">Física</option>
                            <option value="">Educación financiera</option>
                            <option value="">Inglés</option>
                        </select>

                        <label for="period">Periodo</label>
                        <select name="period" id="period" required>
                            <option value="">- Elija un periodo -</option>
                            <option value="">2022-2023</option>
                            <option value="">2023-2024</option>
                        </select>

                        <input type="submit" value="CARGAR" class="boton">
                        <br>
                        <input type="submit" value="Imprimir x Estudiante" class="imprimir">
                        <input type="submit" value="Imprimir x Curso" class="imprimir">
                        <br><br>
                        
                    </fieldset>
                </form>

                <div class="tabla1">
                    <table border="1">
                        <tr>
                            <th class="complete">NOMBRE COMPLETO</th>
                            <th>MATRICULA</th>
                            <th>TAREAS</th>
                            <th>EXAM</th>
                            <th>PART</th>
                            <th>ASIST</th>
                            <th>PROM</th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10001</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10002</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10003</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10004</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10005</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10006</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10007</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10008</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10009</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>10010</td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                            <td><input type="text" maxlength="3"></td>
                        </tr>                        
                    </table>
                </div>
            </section>
            <input type="submit" value="Publicar Notas" class="publicar">
        </main>
        
        
    </div>
        
    
</body>
</html>