<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
      <link rel="stylesheet" href="/static/css/estilos_prof.css">  
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="regresar">
                <figure>
                     <a href="javascript:history.back()">
                    <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>

    <main class="cambio_contraseña">
        <h2>CAMBIO DE CONTRASEÑA</h2>
        <form class="input_boton1" id="passwordForm" action="/alphaTeam/profesor/contraseña" method="POST">
            <figure class="reset">
                <img src="/static/imagenes/reset-password.png" alt="Reset Password">
            </figure>
        
            <input type="password" name="oldPassword" class="botton1" placeholder="Contraseña Antigua" required maxlength="10" autofocus>
            <div class="imagen1">
                <img src="/static/imagenes/bx-lock-alt.svg" alt="Old Password">
            </div>
            <input type="password" name="newPassword" class="botton3" placeholder="Nueva Contraseña" required maxlength="10">
            <div class="imagen2">
                <img src="/static/imagenes/contrasena.png" alt="New Password">
            </div>
        
            <br>
            <input type="password" name="confirmPassword" class="botton2" placeholder="Confirmar Contraseña" required maxlength="10">
            <div class="imagen">
                <img src="/static/imagenes/confirmar.png" alt="Confirm Password">
            </div>
            <input type="submit" value="CAMBIAR CONTRASEÑA" class="enviar">
        </form>
        
      <div class="mensaje-error {% if not mensaje %} ocultar {% endif %}">
            <div class="alert alert-danger" role="alert">
                <strong>{{ mensaje }}</strong>
            </div>
        </div>

        
        
    </main>
</body>
</html>