<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario Escolar</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
    
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>

            <div class="container">
                <button class="menu-btn">PROFESOR
                    <img src="/static/imagenes/profesor.png" alt="profesor">
                </button>
                <div class="menu-items">
                    <h6 class="gestion">Gestión perfil</h6>
                
                    <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                        <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
                    </a>
                    <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                        <img src="/static/imagenes/bxs-key1.svg" alt="nota">
                    </a>
                    <a href="/alphaTeam/profesor/reportar">Reportar un problema
                        <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
                    </a>
                    
                </div>
            </div>
    </header>
    
    <div class="cout">
            <button class="menu">
                <img src="/static/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                     <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
    </div>
    <main>
        <section class="horario_clases">
            <h6>HORARIO DE CLASES</h6>
            <div class="horario">
                <table class="horario-profesor">
                    <thead>  
                        <th class="th-hora">Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </thead>
                    
                    <tr>
                        <td class="horas">8:00-8:45 AM</td>
                        <td>1ro Bachiller</td>
                        <td>3ro Bachiller</td>
                        <td>5to Bachiller</td>
                        <td>1ro Bachiller</td>
                        <td>4to Bachiller</td>
                    </tr>

                    <tr>
                        <td class="horas">8:45-9:50 AM</td>
                        <td>1ro Bachiller</td>
                        <td>2do Bachiller</td>
                        <td>6to Bachiller</td>
                        <td>Libre</td>
                        <td>1ro Bachiller</td>
                    </tr>
                    <tr>
                        <td class="horas">9:50-10:20 AM</td>
                        <td>R</td>
                        <td>E</td>
                        <td>CR</td>
                        <td>E</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td class="horas">10:20-11:05 AM</td>
                        <td>4to Bachiller</td>
                        <td>1ro Bachiller</td>
                        <td>Libre</td>
                        <td>6to Bachiller</td>
                        <td>2do Bachiller</td>
                    </tr>
                    <tr>
                        <td class="horas">11:05-12:00 PM</td>
                        <td>3ro Bachiller</td>
                        <td>Libre</td>
                        <td>Libre</td>
                        <td>Libre</td>
                        <td>5to Bachiller</td>
                    </tr>
                </table>
                <!-- <input type="submit" value="Editar Horario" class="boton-horario"> -->
            </div>
        </section>
    </main>
</body>
</html>