<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información estudiante</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
        <a href="p_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
        <!-- <nav class ="nav"> 
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="p_calificaciones.html">CALIFICACIONES
                </a></li>
                <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                    <a href="p_horario.html">HORARIO ESCOLAR
                </a></li>
                <li class="info-tablet"><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="p_informacionestudiante.html">INFORMACION ESTUDIANTE
                </a></li>
                <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                    <a href="p_cargarplanificacion.html">PLANIFICACION
                </a></li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="p_ayuda.html">AYUDA
                </a></li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/templates/index.html">CERRAR SESION
                </a></li> 
            </ul>
        </nav> -->
    </header>
    <div class="cout">
            <button class="menu">
                <img src="/static/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                     <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
        </div>
   
    <main>    
        <section>
            <div class="calificaciones_docente2">
                
                <!-- <h4 class="listado">LISTADO ESTUDIANTES DEL CURSO</h4> -->
                <form>
                    <fieldset>
                        <legend>LISTADO ESTUDIANTES DEL CURSO</legend>
                        <label for="cur">Cursos</label>
                        <select name="cur" id="cur" required>
                            <option value="">- Elija un curso - </option>
                            <optgroup label="Nivel Primario"></optgroup>
                            <option value="">Kinder</option>
                            <option value="">Pre-primario</option>
                            <option value="">1ro de primaria</option>
                            <option value="">2do de primaria</option>
                            <option value="">3ro de primaria</option>
                            <option value="">4to de primaria</option>
                            <option value="">5to de primaria</option>
                            <option value="">6to de primaria</option>
                            <optgroup label="Nivel Secundario"></optgroup>
                            <option value="">1ro de secundaria</option>
                            <option value="">2do de secundaria</option>
                            <option value="">3ro de secundaria</option>
                            <option value="">4to de secundaria</option>
                            <option value="">5to de secundaria</option>
                            <option value="">6to de secundaria</option>
                        </select>

                            <!-- <label for="prof" class="profe1" >Profesor</label>
                            <select name="prof" id="prof" required>
                                <option value="">- Elija una opción -</option>
                                <option value="">Jose Candelario Rodríguez</option>
                            </select> -->
                    
                        <label for="asig">Materia</label>
                        <select name="asig" id="asig" required>
                            <option value="">- Elija una materia -</option>
                            <option value="">Lengua Española</option>
                            <option value="">Matemáticas</option>
                            <option value="">Ciencias Sociales</option>
                            <option value="">Ciencias Naturales</option>
                            <option value="">Física</option>
                            <option value="">Educación financiera</option>
                            <option value="">Inglés</option>
                        </select>

                        <label for="period">Periodo</label>
                        <select name="period" id="period" required>
                            <option value="">- Elija un periodo -</option>
                            <option value="">2022-2023</option>
                            <option value="">2023-2024</option>
                        </select>

                        <input type="submit" value="CARGAR" class="boton9">
                    </fieldset>
                </form>
            </div>


                <div class="tabla2">  
                    <table border="1">
                        <tr>
                            <th>MATRICULA</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS </th>
                            <th class="cuadro-edad">EDAD</th>
                            <th>TUTOR </th>
                            <th> TELEFONO TUTOR</th>
                        </tr>
                        <tr>
                            <td>10061</td>
                            <td></td>
                            <td></td>
                            <td class="cuadro-edad"><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10062</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10063</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>  
                        </tr>
                        <tr>
                            <td>10064</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10065</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10066</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10067</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10068</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10069</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>10070</td>
                            <td></td>
                            <td></td>
                            <td><input type="text" maxlength="3
                                "></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    <tfoot>
                        <tr>
                            <td>TOTAL ESTUDIANTE</td>
                            <td></td>
                            <td></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tfoot>
                    </table>
                    
                </div>
        </section>
        <!-- <input type="submit" value="Publicar Notas" class="publicar"> -->
    </main>
    
</body>
</html>
