<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información estudiante</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="container">
            <button class="menu-btn">PROFESOR
                <img src="/static/imagenes/profesor.png" alt="profesor">
            </button>
            <div class="menu-items">
                <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/profesor/usuario" >Lic. Carlos Acosta
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/contraseña">Cambio de contraseña
                <img src="/static/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="/alphaTeam/profesor/reportar">Reportar un problema
                <img src="/static/imagenes/bx-comment-error.svg" alt="nota">
            </a>
                
            </div>
            </div>
    </header>
    
    <div class="cout">
            <button class="menu">
                <img src="/static/imagenes/bx-menu.svg" alt="">
            </button>
            <div class="content">
                <ul>
                     <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                        <a href="/alphaTeam/profesor/calificaciones">CALIFICACIONES
                    </a></li>
                    <li><img src="/static/imagenes/bx-calendar.svg" alt="calendario">
                        <a href="/alphaTeam/profesor/horario">HORARIO ESCOLAR
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/profesor/informacion">INFORMACION ESTUDIANTE
                    </a></li>
                    <li><img src="/static/imagenes/bxs-book-content.svg" alt="evaluar">
                        <a href="/alphaTeam/profesor/planificacion">PLANIFICACION
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/profesor/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li> 
                </ul>
            </div>
        </div>
   
    <main>    
        <section>
            <div class="calificaciones_docente2">
                <form method="POST" action="/alphaTeam/profesor/informacion">
                    <fieldset>
                        <legend>LISTADO ESTUDIANTES DEL CURSO</legend>
                        <label for="curL">Cursos</label>
                        <select name="curL" id="curL" required>
                            <option value="">- Elija un curso - </option>
                            <option value="1ro" {% if selected_curso == '1ro' %}selected{% endif %}>1ro de secundaria</option>
                            <option value="2do" {% if selected_curso == '2do' %}selected{% endif %}>2do de secundaria</option>
                            <option value="3ro" {% if selected_curso == '3ro' %}selected{% endif %}>3ro de secundaria</option>
                            <option value="4to" {% if selected_curso == '4to' %}selected{% endif %}>4to de secundaria</option>
                            <option value="5to" {% if selected_curso == '5to' %}selected{% endif %}>5to de secundaria</option>
                            <option value="6to" {% if selected_curso == '6to' %}selected{% endif %}>6to de secundaria</option>
                        </select>
                    
                        <label for="asigL">Materia</label>
                        <select name="asigL" id="asigL" required>
                            <option value="">- Elija una materia -</option>
                            <option value="1" {% if selected_asignatura == '1' %}selected{% endif %}>Lengua Española</option>
                            <option value="2" {% if selected_asignatura == '2' %}selected{% endif %}>Matemáticas</option>
                            <option value="3" {% if selected_asignatura == '3' %}selected{% endif %}>Ciencias Sociales</option>
                            <option value="4" {% if selected_asignatura == '4' %}selected{% endif %}>Ciencias Naturales</option>
                            <option value="5" {% if selected_asignatura == '5' %}selected{% endif %}>Física</option>
                            <option value="6" {% if selected_asignatura == '6' %}selected{% endif %}>Educación Financiera</option>
                            <option value="7" {% if selected_asignatura == '7' %}selected{% endif %}>Inglés</option>
                        </select>

                        <input type="submit" name="action" value="CARGAR" class="boton9">
                    </fieldset>
                </form>
            </div>


            <div class="tabla2">  
                <table border="1">
                    <tr>
                        <th>MATRICULA</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS </th>
                        <th>FECHA NACIMIENTO</th>
                        <th>TUTOR </th>
                        <th>TELEFONO TUTOR</th>
                    </tr>

                    <tbody>
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante[1] }}</td>
                        <td>{{ estudiante[2] }}</td>
                        <td>{{ estudiante[3] }}</td>
                        <td>{{ estudiante[5] }}</td>
                        <td>{{ estudiante[10] }} {{ estudiante[11] }}</td>
                        <td>{{ estudiante[13] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>


                
            </div>
        </section>
        <!-- <input type="submit" value="Publicar Notas" class="publicar"> -->
    </main>
    
</body>
</html>