<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar un problema</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
            <h1>ALPHA TEAM</h1>
                <figure class="logo_pagina">
                    <img src="/static/imagenes/logo.png" alt="">
                </figure>
            </a>
            
            <div class="regresar">
                <figure>
                     <a href="javascript:history.back()">
                    <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>

    <main>
         <main>
     <!-- Mostrar mensaje si está disponible -->
     <div class="mensaje-error2 {% if not mensaje5 %} ocultar {% endif %}">
        <div class="alert alert-success" role="alert">
            <strong>{{ mensaje5 }}</strong>
        </div>
    </div>
</main>


        <section class="reporte">
            <h2><img src="/static/imagenes/pistas (2).png" alt="Pistas"> INDICANOS CUAL ES TU PROBLEMA</h2>
            
           <form action="{{ url_for('enviar_reporte') }}" method="post">
    <textarea name="reportar" id="reportar" cols="30" rows="10" placeholder="Describe aquí tu problema" required></textarea>
    <br>
    <input type="submit" value="Enviar reporte" class="report_ev">
</form>
        </section>
    </main>
</body>
</html>