<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
         <a href="/alphaTeam/profesor">
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>
            <div class="regresar">
                <figure>
                    <a href="javascript:history.back()">
                        <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>
    <main>
    <section class="inf_basica_profesor">
        <h2>MI INFORMACIÓN BÁSICA PERSONAL</h2>
        <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data" id="imageUploadForm1">
            <figure class="estudiante-img">
                <img src="{{ url_for('static', filename='imagenes/' ~ (profesor.imagen_perfil if profesor and profesor.imagen_perfil else 'usuario.svg')) }}" alt="" id="imagenPrevia">
                <img src="/static/imagenes/bx-trash.svg" alt="" class="borrar">
                <label for="imageInput"></label>
                <input type="file" name="image" id="imageInput">
                <button type="submit" id="uploadButton1">Subir</button>
            </figure>
        </form>
        
        <div class="titinfo">
            <h4>Nombre</h4><img src="/static/imagenes/bx-user copy.svg" alt="">
            <p>{{ profesor.nombre if profesor else 'No disponible' }}</p>
            <h4>Apellidos</h4><img src="/static/imagenes/bxs-user-detail.svg" alt="">
            <p>{{ profesor.apellidos if profesor else 'No disponible' }}</p>
            <h4>Email</h4><img src="/static/imagenes/bx-envelope (1).svg" alt="">
            <p>{{ profesor.correo if profesor else 'No disponible' }}</p>
            <h4>Género</h4><img src="/static/imagenes/bx-male-female.svg" alt="">
            <p>{{ profesor.genero if profesor else 'No disponible' }}</p>
            <h4>Dirección</h4><img src="/static/imagenes/ubicacion.png" alt="">
            <p class="direccion">{{ profesor.direccion if profesor else 'No disponible' }}</p>
        </div>
        
    </section>
    </main>
   
    <script>
        document.getElementById('uploadButton1').addEventListener('click', function(event) {
            event.preventDefault();
            const input = document.getElementById('imageInput');
            if (input.files && input.files[0]) {
                const file = input.files[0];
                const reader = new FileReader();
                
                reader.onload = function(event) {
                    const base64Image = event.target.result;
                    localStorage.setItem('uploadedImage', base64Image);
                    document.getElementById('imagenPrevia').src = base64Image;
                };
                
                reader.readAsDataURL(file);
        
                
                document.getElementById('imageUploadForm1').submit();
            }
        });
        
        
        document.addEventListener('DOMContentLoaded', function() {
            const storedImage = localStorage.getItem('uploadedImage');
            if (storedImage) {
                document.getElementById('imagenPrevia').src = storedImage;
            } else {
                const servidorImage = '{{ url_for("static", filename="upload_image/" ~ (profesor.imagen_perfil if profesor and profesor.imagen_perfil else "usuario.svg")) }}';
                document.getElementById('imagenPrevia').src = servidorImage;
            }
        });
        
      
        document.querySelector('.borrar').addEventListener('click', function() {
            localStorage.removeItem('uploadedImage');
            document.getElementById('imagenPrevia').src = '/static/imagenes/usuario.svg';
            alert("Se eliminó la imagen del perfil.");
        
            
        });
        </script>
</body>
</html>