<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" href="/static/css/estilos_prof.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

            <div class="regresar">
                <figure>
                    <a href="javascript:history.back()">
                        <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>

    <main>
        <section class="inf_basica_profesor">
            <h2>MI INFORMACIÓN BÁSICA PERSONAL</h2>
            <figure class="estudiante-img">
                <img src="/static/imagenes/imagenprofesor.jpg" alt=""><img src="/static/imagenes/boligrafo (4).png" alt="" class="camara2"></a>
                <h4>Haz clic para editar la foto</h4>
            </figure>

            <div class="titinfo">
                <h4>Nombre</h4><img src="/static/imagenes/bx-user copy.svg" alt="">
                <p>Carlos</p>
                <h4>Apellidos</h4><img src="/static/imagenes/bxs-user-detail.svg" alt="">
                <p>Acosta Reyes</p>
                <h4>Email</h4><img src="/static/imagenes/bx-envelope (1).svg" alt="">
                <p>carlosareyes@gmail.com</p>
                <h4>Género</h4><img src="/static/imagenes/bx-male-female.svg" alt="">
                <p>Masculino</p>
                <h4>Dirección</h4><img src="/static/imagenes/ubicacion.png" alt="">
                <p class="direccion">Los Padros 1, Santiago de los Caballeros</p>
            </div>
        </section>
    </main>
</body>
</html>