* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Fuentes */
@font-face {
    font-family: miFuenteLime;
    src: url(../fuentes/Limelight-Regular.ttf);
}

@font-face {
    font-family: miFuenteJust;
    src: url(../fuentes/JustAnotherHand-Regular.ttf);
}

 @font-face {
    font-family: miFuentePath;
    src: url(../fuentes/PathwayGothicOne-Regular.ttf);
}

@font-face {
    font-family: miPath2;
    src: url(../fuentes/Pathway_Extreme.ttf);
}

@font-face {
    font-family: miFuentePoppins;
    src: url(../fuentes/Poppins..ttf);
}

body {
    background-image: url(../imagenes/imagendefondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    overflow: hidden;
    background-position-y: -129px;
    object-fit: cover;
}

h1 {
    font-family: miFuenteLime;
    color: #ffffff;
    margin: 60px;
    margin-top: 3%;
    font-weight: normal;
    font-size: 42px;
    margin-left: 100px;
    width: 100%;
}

.logo_pagina img {
    width: 7%;
    height: 65%;
    left: 10px;
    top: -125px;
    position: relative;  
    margin: 0 auto ;
}


ul {
    font-family: miFuentePath;
    margin: 3%;
    margin-top: -5%;
}

li {
    background-color: #d9d9d931;
    margin: -0.58%;
    width: 25%;
    height: 47px;
    text-align: center;
    list-style-type: none;   
    border-radius: 10px;
    
}

li:hover {
    background-color: gray;
}

li a {
    color: #fff;
    margin: 7%;
    font-size: 180%;
    text-decoration: none;
    bottom: 40px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    left: 12%;
    width: -100%;
}

li img {
   display: flex;
   justify-content: flex-start;
   bottom: -10px;
   position: relative;
   margin: 20px;
}

.menu-button {
   display: none;
}

/* Página Gestión Perfil (Menú desplegable) */
button {
    font-size: 15px;
    font-family: miFuentePath;
    font-weight: normal;
    margin-right: 90px;
    color: #fffefe;
    background-color: rgb(217, 217, 217, 33%);
}


.menu-btn img{
    width: 18px;
    position: relative;
    left: 45px;
    bottom: 18px;
}

.container {
    position: relative;
    width: 100%;
    margin-top: -4%;
   
}

.menu-btn {
    position: absolute;
    top: -130px;
    right: 0;
    width: 0;
    color: #fff;
    border: none;
    width: 60px;
    height: 18px;
    cursor: pointer;
}

.menu-items {
    position: absolute;
    top: -80px;
    right: 10px;
    background-color: rgba(217, 217, 217, 75%); 
    color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
}

.menu-items a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: miFuentePath;
    border-top: solid 1px rgba(255, 255, 255, 0.705);
   
    
}

.menu-items li {
    border-bottom: 10px solid #555;   
}

.menu-items  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    width: 200px;
    text-align: center;
   
}

.menu-items  a:hover {
     background-color: #555; 
}


.menu-btn:focus+.menu-items,
.menu-items:hover {
    display: block;
}

.menu-items  img{ 
    width: 20px;
    float: left;
}

.gestion {
    font-size: 20px;
    text-align: center;
    font-family: miFuentePath;
    font-weight: normal;
}

.gestion img {
    float: right;
    width: 19px;
}

/* Página Calificaciones */

legend {
    font-family: miFuentePath;
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.calificaciones_docente1 fieldset {
    padding: -20%;
    width: 173%;
    margin-left: -26%;
}

form {
    margin-left: 33%;
}

.calificaciones_docente1 select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff63;
}

.calificaciones_docente1 option {
    color: #000000;
}

.calificaciones_docente1 optgroup {
    color: #000;
}

label {
    font-family: miFuentePath;
    color: #fff;
    font-size: 20px;
    margin: 15px;
}

.boton {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff;
    font-family: miFuentePath;
    font-size: 16px;
    font-weight: normal;
    margin: 15px;
    margin-right: 100%;
    width: 8%;
    top: 28%;
    position: relative;
}

.boton:hover {
    border: 1px solid #0077ff96;
}

.tabla1 {
    color: #fff;
    font-family: miFuentePath;
    margin-left: -27%;
    margin-top: 0%;
    width: 175%;
    border-radius: 1%;
    height: 340px;
    cursor: pointer;
}

.complete {
    width: 20%;
}

.apellido {
    width: 20%;
}

td input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 92%;
    margin-left: -10%;
    text-align: center;
    color: #fff;
    cursor: pointer;

}

table {
    border-spacing: 4px;
}


.tabla1 th {
    font-weight: normal;
    background-color: #ffffff2f;
    border: none;
    color: #ffffff;
    height: 40px;
}

.tabla1 td {
    padding-inline-start: -1%;
    border: none;
    background-color: #ffffff28;
    color: #ffffff;
    height: 40px;
    text-align: center;
    border-radius: 5%;
    width: 10%;
}

td:hover {
    background-color: gray;
}

th:hover {
    background-color: gray;
}
.imprimir {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff;
    font-family: miFuentePath;
    font-size: 16px;
    font-weight: normal;
    top: -20%;
    left: 60%;
    position: relative;
    width: 15%;  
    margin: 10px;  
}

.imprimir:hover {
    border: 1px solid #0077ff96;
}

fieldset {
    height: 130px;
}

table {
    width: 100%;
    border: #fff;
    cursor: pointer;
}

.calificaciones_docente1 {
    width: 50%;
    bottom: 390px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.cal-tablet {
    background-color: gray;
}


.publicar {
    background-color: transparent;
    color: #fff;
    font-family: miFuentePath;
    border: 1px solid #81e6ff;
    width: 15%;
    margin-left: 15.50%;
    font-size: 16px;
    cursor: pointer;
}

.publicar:hover {
    border: 1px solid #0077ff96;
}
 
/* Página información estudiante */

.calificaciones_docente2 select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff63;
}

.calificaciones_docente2 fieldset {
    padding: -20%;
    width: 87%;
    margin-left: -17.20%;
    height: 80px;
}

.calificaciones_docente2 option {
    color: #000000;
}

.calificaciones_docente2 optgroup {
    color: #000;
}

.calificaciones_docente2 {
    bottom: 390px;
    left: 10%;
    position: relative;
}

.tabla2 {
    color: #fff;
    font-family: miFuentePath;
    left: 11.20%;
    bottom: 390px;
    position: relative;
    width: 60%;
    border-radius: 1%;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
    cursor: pointer;
    margin: 0 auto;
}


.tabla2::-webkit-scrollbar {
    background-color: transparent;
    border: 1px solid #81e6ff;
}

.tabla2::-webkit-scrollbar:hover {
    border: 1px solid #0077ff96;
}

.tabla2::-webkit-scrollbar-thumb {
    background-image: url(/imagenes/bx-chevrons-down.svg);
    background-position-x: 15%;
    background-size: 100%;
}

.tabla2 th {
    font-weight: normal;
    border: none;
    background-color: #ffffff2f;
    height: 40px;
}

.cuadro-edad {
    width: 8%;
}

.tabla2 td {
    border: none;
    background-color: #ffffff2f;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    width: 50px;
}

td:hover {
    background-color: gray;
}

th:hover {
    background-color: gray;
}

.h4 {
    color: #fff;
    font-family: miFuentePath;
    font-size: 20px;
    margin-top: -30px;
    width: 350px;
}

.info-tablet {
    background-color: gray;
}

.boton9 {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff;
    font-family: miFuentePath;
    font-size: 15px;
    width: 8%;
    font-weight: normal;
    margin-left: 90%;
    margin-top: 5px;
}

.boton9:hover {
    border: 1px solid #0077ff96;
}


.calificaciones_docente2 legend {
    font-size: 22px;
    text-align: center;
}

/* Página horario clases profesor */
.horario_clases h6 {
    color: #fff;
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 24px;
    top: -450px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 200px;
} 

.horario_clases {
    width: 90%;
}

.horario {
    font-family: miFuentePath;
    text-align: center;
    margin-top: -390px;
    margin-left: 440px;
    cursor: pointer;
    color: #fff;
    font-weight: normal;

}

.horario-tablet {
    background-color: gray;
}

.horario th {
    background-color: #87ccdd46;
    color: #ffffff;
    font-family: miFuentePath;
    font-size: 22px;
    font-weight: normal;
    height: 35px;
    border-radius: 5px;
}

.horario-profesor {
    border-spacing: 10px;
    width: 100%;
}

.hora_entrada h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.horario-profesor .horas {
    background-color: #87ccdd69;
    color: #fff;
}

.horario td {
    background-color: #ffffffbb;
    color: #031D45;
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    padding: 12px; 
}

.boton-horario {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff;
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 16px;
    width: 80px;
    left: -70px;
    position: relative;
    cursor: pointer;
}

.boton-horario:hover {
    border: 1px solid #0077ff96;
}

/* Página planificación docente  */

.plan_docente {
    font-weight: normal;
    text-align: center;
}

.plan-tablet {
    background-color: gray;
}

#planificacion {
    color: #fff;
}

.planificacion_docente {
    bottom: 390px;
    left: 150px;
    position: relative;
    cursor: pointer;
    width: 58%;
    margin: 0 auto;
}

.planificacion_docente select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #81e6ff63;
}

.planificacion_docente option {
    color: #000000;
}

.planificacion_docente optgroup {
    color: #000;
}

.planificar {
    width: 130px;
    margin-left: 50%;
    bottom: 40px;
    position: relative;

}

.planif_fielsed {
    height: 70px;
}

.enviar_borrar {
    font-family: miFuentePath;
    width: 70px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #81e6ff;
    background-color: transparent;
    color: #fff;
}

.cargar-plan {
    margin-left: 100px;
    bottom: 39px;
    position: relative;
}

.enviar_borrar:hover {
    border: 1px solid #0077ff96;
}

/* Página ayuda */

.preguntas h3 {
    font-family: miFuentePath;
    text-align: center;
    bottom: 70px;
    position: relative;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

summary {
    background-color: transparent;
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border: none;
    margin-left: 100%;
    cursor: pointer;
} 

.preguntas summary {
    margin: 2%;
    display: flex;
    justify-content: flex-start;
}

.preguntas_container {
    color: #fff;
    width: 100%;
    max-width: 50%;
    margin-left: 30%;
    margin-top: -28%;
}


.preguntas p {
    font-family: miFuentePath;
    color: #ffffffc5;
    margin-left: 2%;
}

.ayuda-tablet {
    background-color: gray;
}

/* Cambio de contraseña en Gestion Perfil */
.input_boton1 .reset img {
    width: 30%;
    margin-left: 10%;
    margin-top: -8%;
}

.cambio_contraseña h2 {
    font-family: miFuentePath;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 10%;
    top: -5%;
    position: relative;
}

.cambio_contraseña {
    margin-left: 33%;
    border:  1px solid #ffffff70;
    width: 420px;
    border-radius: 20px;
    height: 45%;
    margin-top: 8%;
}

.cambio_contraseña img {
    display: flex;
    justify-content: flex-start;
    margin-left: -40%;
    margin-top: -49px;
    width: 18px;
}

.imagen {
    top: -40px;
    left: 14%;
    position: relative;
    margin: 0 auto;
}

.imagen1 {
    top: -65px;
    left: 14%;
    position: relative;
    margin: 0 auto;
}

.imagen2 {
    bottom: 10px;
    left: 14%;
    position: relative;
    margin: 0 auto;
}

.botton1 {
    background-color: #00000049;
    border: none;
    height: 10%;
    margin: 20%;
    margin-left: 150px;
    padding-left: 15%;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: miFuentePath;
    font-weight: normal;
    width: 300px;
    height: 40px;
    outline: none;
}


.botton2 {
    background-color: #00000049;
    border: none;
    height: 40px;
    margin: 30px;
    padding-left: 35px;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-family: miFuentePath;
    font-weight: normal;
    width: 300px;
    height: 40px;
    outline: none;
}

.botton3 {
    background-color: #00000049;
    border: none;
    height: 40px;
    padding-left: 35px;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-family: miFuentePath;
    font-weight: normal;
    width: 300px;
    height: 40px;
    outline: none;
}

.cambio_contraseña input {
    margin-left: -30%;
    top: -30px;
    position: relative;
}

.input_boton1 {
    margin-top: -50px;
}

.enviar {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #81e6ff;
    font-family: miFuentePath;
    font-size: 17px;
    height: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 0;   
    margin-top: 10%;
    position: relative;
    left: 35%;
    cursor: pointer;
}

.enviar:hover {
    border: 1px solid #0077ff96;
}

/* Boton de regresar */
.regresar {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: -180px;
}

.regresar img {
    width: 32px;
    height: 32px;
}

/* Usuario del Profesor */

.inf_basica_profesor {
    border: 1px solid #ffffff70;
    color: #fff;
    font-family: miFuentePath;
    width: 450px;
    margin-left: 33%;
    height: 375px;
    top: 80px;
    position: relative;
    border-radius: 30px;
    cursor: pointer;   
    margin: 0 auto;
}

.inf_basica_profesor h2 {
    text-align: center;
    padding: 1%;
    font-weight: normal;
}

.inf_basica_profesor h4 {
    font-weight: normal;
    margin-left: 12%;
    color: #ffffffa2;
}

.estudiante-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: -40%;
    margin-top: 15px;
}

.estudiante-img input {
    z-index: 90;
    display: flex;
    position: relative;
    left: -38%;
    margin-top: 2%;
    color: white;
    width: 136px;
}

.estudiante-img button {
   position: relative;
    z-index: 150;
    margin-left: -30%;
    margin-top: 3%;
    padding: 5px;
    width: 90px;
    border: none;
    cursor: pointer;
    border: 1px solid #81e6ff;
    font-weight: normal;
    font-size: 17px;
}

.estudiante-img .borrar {
    width: 30px;
    height: 30px;
    top: -115px;
    left: 30%;
    position: relative;
}

.titinfo h4 {
    margin: 6%;
    padding: 1%;
    padding-inline-start: 5%;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 20%;
    margin-left: 50%;
    margin-top: -6%;
    border-radius: 10px;
    top: -200px;
    position: relative;  
    color: #fff;
}

.titinfo p:hover {
    background-color: gray;
}

.titinfo img {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: -57%;
    margin-left: 49%;
    width: 18px;
}

.titinfo p {
    background-color: #d9d9d931;
    color: #ffffff;
    width: 50%;
    margin-left: 49%;
    padding: 1.50%;
    position: relative;
    top: -230px;
    border-radius: 5px; 
}


/* Reportar un problema */

.reporte h2 {
    font-family: miFuentepath;
    font-weight: normal;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 23px;
}

.reporte img {
    width: 50px;
    margin-right: 20px;
    margin-top: -15px;
}

.reporte textarea {
    background-color: #ffffff11;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    margin-top: -10px;
    display: flex;
    justify-content: center;  
    padding: 15px; 
    outline: none;
    border: 1px-1solid #ffffff8f;
    color: #fff;
    font-family: miFuentepath;
    font-size: 18px;  
}

.reporte .report_ev {
    background-color: transparent;
    border: 1px solid #81e6ff;
    color: #ffffff;
    font-family: miFuentepath;
    font-weight: normal;
    width: 80px;
    height: 20px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 16px;
    left: 30px;
    position: relative;
}

#nombre::placeholder {
    text-align: center;
}

.menu {
    display: none;
}


/* Responsive */
/* Movil */ 
@media  screen and (max-width: 900px) {
    body {
        background-image: url(../imagenes/imagendefondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        overflow: hidden;
        background-position-y: -129px;
        object-fit: cover;
    }
/* Titulo */
    h1 {
        font-size: 5vh;
        width: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        top: 20px;
        position: relative;
    }
    
/* Logo de las paginas */
    .logo_pagina img {
       display: none;
    }


/* Menu barra lateral izquierda */
    .cout {
        position: relative;
        display: inline-block;
        width: 0;
        height: 0;
    }

    nav {
        top: 70px;
        position: relative;
    }

    .cout ul{
        left: 32%;
        position: relative;
        padding: 5px;
        width: 305px;
        background-color: #000000;

    }

    .cout li {
        text-align: left; 
        background-color: #d9d9d900; 
    }

    .container {
        position: relative;
        left: 90px;
        top: -20px;
        width: 100%;
    }

    .cout li a{
        color: white;
        left: 50px;
        margin: -10px;
    
    }

    li {
        margin: -5px;
        width: 310px;
        text-align: center;
        border-radius: 10px;
    }

    .content {
        display: none;
        position: absolute;
        left: -220px;
        top: 19px;
        padding: 5px;
        width: 600px;
        height: 700px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }


    .content a {
        color: rgb(0, 0, 0);
        padding: 12px; 
        text-decoration: none;
        display: block;
    }

    .cout:focus-within .content,
    .cout:active .content {
        display: block;
    }

    .menu {
        display: inline-block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        top: 5px;
        left: 20px;
        position: relative;
    }

    .menu img{
        width: 23px;
        height: 23px;
    }
    
/* Menú desplegable IBP */
    .container {
        left: 5%;
        top: 140px;  
        position: relative; 
    }

     .menu-items {
        margin-right: 52px;
        padding: 5px;
        margin-top: -4%;
    }

    .container .menu-items {
        background-color: rgba(217, 217, 217, 0.979);
       
    }

    .container .menu-items a {
         border-top: solid 1px rgba(0, 0, 0, 0.397);
    }

/* Cambiar Contraseña */

    .cambio_contraseña {
        left: 1%;
        top: 65px;
        position: relative;
        width: 340px;
        margin: 0 auto;
    }

    .cambio_contraseña h2 {
        margin-top: 2%;
    }

    .input_boton1 .reset img {
        top: 10px;
    }
    
    .cambio_contraseña input {
        top: 10px;
        left: -10%;
        position: relative;
    }

    .botton1 {
        right: 40px;
        position: relative;
        padding-left: 50px;
    }

    .botton2 {
        right: 40px;
        position: relative;
        padding-left: 50px;
    }

    .botton3 {
        right: 40px;
        position: relative;
        padding-left: 50px;
    }

    .cambio_contraseña img {
        margin-left:  -40%;
        position: relative;
    }

    .cambio_contraseña .enviar {
        margin-left: 10%;
        margin-top: 15%;
    }

    .imagen {
        top: 2px;
        left: 10px;
        position: relative;
    }

    .imagen1 {
        top: -15px;
        position: relative;
        left: 5%;
    }

    .imagen2 {
        top: 30px;
        left: 5%;
    }

    /* Reportar */
    .reporte textarea {
        left: -22%;
        top: 60px;
        position: relative;
        width: 300px;
        margin: 0 auto;
    }

    .reporte h2 {
        left: -2%;
        top: 50px;
        position: relative;
        font-size: 22px;
        margin: 0 auto;
    }

    .reporte .report_ev {
        left: 1%;
        top: 70px;
        position: relative;
        margin: 0 auto;
    }

    .reporte img {
        width: 30px;
        height: 30px;
        margin-top: -5px;
        left: 2%;
        position: relative;
    }

    .regresar {
        margin-left: 20px;
        margin-top: -13px;
    }

    /* Menú desplegable */

    /* Calificaciones */

    .tabla1 {
        left: -55%;
        top: 2px;
        position: relative;
        width: 180%;
        height: 340px;
    }

    .calificaciones_docente1 {
        margin-top: 30%;
        position: relative;
    }

    .tabla1::-webkit-scrollbar {
        display: none;
    }


    .calificaciones_docente1 form {
        margin-top: 460px;
        margin-left: -12%;
        width: 102%;
        
    }

    .calificaciones_docente label {
        font-size: 17px;
    }

    .calificaciones_docente1 select {
        width: 7%;
    }

    .calificaciones_docente1 fieldset {
        height: 60px;
    }


    .imprimir {
        display: none;
    }

    .boton {
        top: -110%;
        position: relative;
        margin-left: 85%;
        width: 10%;
    }
    

    .publicar {
        margin-left: 1%;
        top: 250px;
        position: relative;
        width: 18%;
    }

    /* Horario */

    .horario-profesor {
        top: 430px;
        position: relative;
        overflow-x: scroll;
        margin: 0 auto;        
    }
    
    .horario table {
        border-spacing: 4px;
        overflow: hidden;
    }

    .horario td {
        font-size: 12px;
        
    }

    .horario th {
        font-size: 18px;
    }

    .horario {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }

/* Pagina Informacion Estudiante */
.calificaciones_docente2 {
    top: 80px;
    left: -9%;
    position: relative;
    margin: 0 auto;
    
}

.calificaciones_docente2 form {
    width: 100%;
}

.tabla2 {
    width: 88.50%;
    left: 0.50%;
    top: 80px;
    position: relative;
    margin: 0 auto;
}

.tabla2::-webkit-scrollbar {
    display: none;
}

.calificaciones_docente2 label {
    font-size: 17px;
}

.calificaciones_docente2 select {
    width: 7%;
}

.calificaciones_docente2 fieldset {
    height: 10%;
}

.boton9 {
    top: -20px;
    position: relative;
    left: -8%;
    width: 10%;
}

/* Pagina Planificación Docente */
.planificacion_docente {
    left: -1px;
    bottom: -60px;
    width: 98%;
    position: relative;
    margin: 0 auto;
}

.planificacion_docente select {
    width: 5%;
}

.cargar-plan {
    display: none;
}

.planificar {
    left: 13%;
    margin-top: -5%;
    position: relative;
}

.planificacion_docente label {
    font-size: 17px;
}

/* Página Ayuda */
.preguntas_container{
    margin-left: -30%;
    max-width: 100%;
    top: 50px;
    position: relative;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
}

.preguntas h3 {
    top: -5px;
    display: flex;
    justify-content: center;
    position: relative;
    /* text-align: center; */
}

.preguntas p {
    width: 90%;
}

}

/* Desktop */ 
@media  screen and (min-width: 901px) and (max-width: 1200px) {

    /* Logo de las paginas */
    .logo_pagina {
        width: 1200px;
        position: relative;
        top: 6px;
        margin: 0 auto;
    }

    h1 {
        font-size: 6vh;
    }


    /* Menu de las paginas */
    ul {
        font-family: miFuentePath;
        margin: 3%;
        margin-top: -5%;
    }

    li {
        background-color: #d9d9d931;
        margin: -0.58%;
        width: 270px;
        height: 47px;
        text-align: center;
        list-style-type: none;   
        border-radius: 10px; 
    }

    li:hover {
        background-color: gray;
    }

    li a {
        color: #fff;
        margin: 7%;
        font-size: 4vh;
        text-decoration: none;
        position: relative;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        left: 8%;
        width: 100%;
        padding: 10px;
    }

    li img {
        display: flex;
        justify-content: flex-start;
        bottom: -15px;
        left: -10px;
        position: relative;
        margin: 20px;
        width: 8%;
    }

    /* Pagina Calificacion */

    .calificaciones_docente1 {
        left: 8%;
        position: relative;
        margin: 0 auto;
        width: 50%;
    }

    .calificaciones_docente1 fieldset {
        height: 90px;
        margin: 0 auto;
        right: 36.50%;
        position: relative;
    }

    .tabla1 {
        width: 117%;
        margin: 0 auto;
        left: 8%;
        position: relative;
    }

    .calificaciones_docente1 select {
        width: 10%;
    }

    .boton {
        margin-top: -50%;
    }

    .imprimir {
        top: -50%;
        position: relative;
        width: 16%;
        font-size: 12px;
    }

    .tabla1::-webkit-scrollbar {
        display: none;
    }

    .publicar {
        display: none;
    }

    /* Pagina Horario */
    .horario {
        left: 25%;
        bottom: 416px;
        position: relative;
        margin: 0 auto;
        width: 70%;
    }

    .horario_clases h6 {
        display: flex;
        justify-content: center;
    }

    /* Pagina Informacion de Estudiante */
   .calificaciones_docente2 {
        margin: 0 auto;
   }

   .calificaciones_docente2 {
        bottom: 385px;
        left: 17%;
        position: relative;
        width: 100%;
   }

   .calificaciones_docente2 select {
        width: 10%;
   }

   .tabla2 {
        bottom: 385px;
        left: 17.70%;
        position: relative;
        margin: 0 auto;
        width: 59%;
   }

   .tabla2::-webkit-scrollbar {
    display: none;
   }

    /* Pagina Planificacion docente */
    .planificacion_docente {
        bottom: 392px;
        left: 150px;
        position: relative;
        margin: 0 auto;
    }

    .planificacion_docente select {
        width: 8%;
    }

    .cargar-plan {
        margin-left: -5%;
    }

    .planificar {
        width: 130px;
    }

    /* Pagina Ayuda */
    .preguntas_container {
        bottom: 410px;
        left: 90px;
        position: relative;
        overflow-y: scroll;
        height: 350px;
        margin: 0 auto;
    }

    .preguntas h3 {
        bottom: 170px;
        position: relative;
        margin: 0 auto;
    }

    .preguntas_container::-webkit-scrollbar {
        display: none;
    }



}