<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Cursos</title>
    <link rel="stylesheet" href="/static/css/estilos_admin.css">
    <link rel="icon" href="/static/imagenes/logo.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>

                    <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

        

        

        <nav> 
        <ul>

            <li><img src="/static/imagenes/bxs-school(1).svg" alt="cursos">
                <a href="a_cursos.html">ADMINISTRACION CURSOS
            </a></li>

            <li><img src="/static/imagenes/bxs-pencil.svg" alt="inscripcion">
                <a href="a_inscripcion.html">INSCRIPCION
            </a></li>

            <li> <img src="/static/imagenes/bxs-book-content.svg" alt="planificacion">
                <a href="a_planificacion.html">PLANIFICACION DOCENTE
            </a></li>

            <li><img src="/static/imagenes/bx-file.svg" alt="record">
                <a href="a_recordnota.html">RECORD DE NOTAS   
            </a></li>
                
            
            <li><img src="/static/imagenes/bx-user.svg" alt="usuario">
                <a href="a_usuarios.html">GESTION USUARIOS
            </a></li> 

            <li><img src="/static/imagenes/bxs-log-out.svg" alt="cerrar">
                <a href="/templates/index.html">CERRAR SESION
            </a></li>

        </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="tit_pagina">
                <h4>BUSCAR CURSOS</h4>
            </div>


<form>
                <fieldset class="barra4">
                    <legend>Buscar  Cursos</legend>
                    <label for="curso">Nivel</label>
                        <select name="curso" id="curso" required>
                            <option value="">- Elija un curso -</option>
                            <optgroup label="Nivel Primario">
                            <option value="pp">Pre-primario</option>
                            <option value="1p">1° Grado</option>
                            <option value="2p">2° Grado</option>
                            <option value="3p">3° Grado</option>
                            <option value="4p">4° Grado</option>
                            <option value="5p">5° Grado</option>
                            <option value="6p">6° Grado</option>
                            <optgroup label="Nivel Secundario">
                            <option value="1s">1° Grado</option>
                            <option value="2s">2° Grado</option>
                            <option value="3s">3° Grado</option>
                            <option value="4s">4° Grado</option>
                            <option value="5s">5° Grado</option>
                            <option value="6s">6° Grado</option>
                    </select>

                    <label for="prof">Profesor</label>
                    <select name="prof" id="prof" required>

                        <option value="">Seleccione un Profesor</option>
                        <option value="">Profesor 1</option>
                        <option value="">Profesor 2</option>
                        <option value="">Profesor 3</option>
                        <option value="">Profesor 4</option>
                        <option value="">Profesor 5</option>
                        <option value="">Profesor 6</option>
                    </select>

                    <label for="seccion">Seccion</label>
                    <select name="seccion" id="seccion" required>

                        <option value="ES">Elija una Seccion</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                   
                    <label class="periodplan" for="period">Periodo</label>
                    <select name="period" id="period" required>
                        <option value="">- Elija un periodo -</option>
                        <option value="">2022-2023</option>
                        <option value="">2023-2024</option>
                    </select>

                    <input type="button" class="btbuscarcurso" name="Buscar" value="Buscar">
                   

                </fieldset>

                




            </form>
        </section>
    </main>

    <table class="datoscurs" border="1">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Profesor</th>
            <th>Nivel</th>
            <th>Seccion</th>
            <th>Total Estudiante</th>
            <th>Mas Detalle</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Modificar Informacion</td>
          </tr>
          
        </tbody>
      </table>
      <input type="button" class="guarcambio" name="enviar" value="Guardar Cambios">

</body>
</html>