<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripcion</title>
    <link rel="stylesheet" href="/static/css/estilos_admin.css">
    <link rel="icon" href="/static/imagenes/logo.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
        
                    <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

       
        

        <nav> 
            <ul>
    
                <li><img src="/static/imagenes/bxs-school(1).svg" alt="cursos">
                    <a href="/alphaTeam/admin/cursos">ADMINISTRACION CURSOS
                </a></li>
    
                <li><img src="/static/imagenes/bxs-pencil.svg" alt="inscripcion">
                    <a href="/alphaTeam/admin/inscripcion">INSCRIPCION
                </a></li>
    
                <li> <img src="/static/imagenes/bxs-book-content.svg" alt="planificacion">
                    <a href="/alphaTeam/admin/planificacion">PLANIFICACION DOCENTE
                </a></li>
    
                <li><img src="/static/imagenes/bx-file.svg" alt="record">
                    <a href="/alphaTeam/admin/recordnota">RECORD DE NOTAS   
                </a></li>
                    
                
                <li><img src="/static/imagenes/bx-user.svg" alt="usuario">
                    <a href="/alphaTeam/admin/usuarios">GESTION USUARIOS
                </a></li> 
    
                <li><img src="/static/imagenes/bxs-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                </a></li>
    
            </ul>
            </nav>
    </header>
    <main>
        <section>
            <div class="tit_pagina">
                <h4>INSCRIPCION</h4>

            </div>
            <form action="/admin/inscripcion" method="post" class="inscripcion">
                <fieldset>
                    <legend>Datos del estudiante</legend>
                    <br>

                    <label class="nom" for="nom">Nombre</label>
                    <input type="text" name="nom" id="nom" autocomplete="on" autofocus required placeholder="Ej: Jose">

                    <label for="ape">Apellido</label>
                    <input type="text" name="ape" id="Ape" required placeholder="Ej: Garcia">
                    <br>

                    <label class="sexoest" for="sexo">Sexo</label>
                        <select name="sexo" id="sexo" required>
                            <option value="sexo">- Elegir Sexo-</option>
                            <option value="mas">Masculino</option>
                            <option value="fem">Femenino</option>
                        </select>

                        <label class="fechnac" for="fecha">Fecha de nacimiento</label>
                        <input type="date" name="fecha" id="fecha">
                        <br><br>

                    <label class="curso" for="curso">Curso</label>
                        <select name="curso" id="curso" required>
                            <option value="">- Elija un curso -</option>
                            <optgroup label="Nivel Primario">
                            <option value="pp">Pre-primario</option>
                            <option value="1p">1° Grado</option>
                            <option value="2p">2° Grado</option>
                            <option value="3p">3° Grado</option>
                            <option value="4p">4° Grado</option>
                            <option value="5p">5° Grado</option>
                            <option value="6p">6° Grado</option>
                            <optgroup label="Nivel Secundario">
                            <option value="1s">1° Grado</option>
                            <option value="2s">2° Grado</option>
                            <option value="3s">3° Grado</option>
                            <option value="4s">4° Grado</option>
                            <option value="5s">5° Grado</option>
                            <option value="6s">6° Grado</option>
                    </select>

                    <label for="prof">Asignar Profesor</label>
                    <select name="prof" id="prof" required>

                        <option value="">Asigne un Profesor</option>
                        <option value="1">1</option>
                        <option value="">Profesor 2</option>
                        <option value="">Profesor 3</option>
                        <option value="">Profesor 4</option>
                        <option value="">Profesor 5</option>
                        <option value="">Profesor 6</option>
                    </select>

                    <label for="seccion">Seccion</label>
                    <select name="seccion" id="seccion" required>

                        <option value="ES">Elija una Seccion</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                    <br><br>
                    <fieldset><br>
                    <legend>Datos del Tutor</legend>

                    <label class="nomt" for="nomt">Nombre</label>
                    <input class="inpnomt" name="nomt" type="text" id="nomt" required placeholder="Ej: Jose">

                    <label for="apet">Apellido</label>
                    <input class="inpapet" name="apet" type="text" id="Apet" required placeholder="Ej: Garcia">
                    <br>

                    <label class="cedula" for="cedula">Cedula</label>
                    <input class="inpcedula" name="cedula" type="number" id="cedula" min="11" max="13">

                    <label for="telefono">Telefono</label>
                    <input class="inpnumero" name="telefono" type="number" id="numero" min="10" max="12">
                    <br>

                    <label class="correo" for="correo">Correo</label>
                    <input class="inpcorreo" name="correo" type="email" id="correo">

                    <label for="educ">Educacion</label>
                    <input class="inpeduc" type="text" name="educ" id="educ" required placeholder="Ej: Primaria">
                    <br>

                    <label class="ocupacion" for="ocup">Ocupacion</label>
                    <input class="inpocup" name="ocup"  type="text" id="ocup" required placeholder="Ej: Contador">
                    
                    <label class="direccion" for="direccion">Direccion</label>
                    <input class="inpdireccion" name="direccion" type="text" id="direccion" required placeholder="Ej: Santiago">
                    <br>

                    <label class="foto2x2" for="foto">Foto 2x2</label>
                    <input class="inpfoto" name="foto" type="file" id="foto" >

                </fieldset>

                </fieldset>

                    <input class="guardinscrip" type="submit" name="guardar" value="Guardar">


    
            </form>

    </main>
</body>
</html>