<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
   
    
    <header>
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        
             </div>
            <div class="container_l">
                <button class="menu-btn">Estudiante
                    <img src="/static/imagenes/estudiante.png" alt="">
                </button>
             <div class="menu-items">
            
                <h6 class="gestion">Gestión perfil</h6>
                
                <a href="/alphaTeam/estudiante/usuario" >Mas informacion
                    <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
                    <!-- <div class="camara">
                    <img src="/static/imagenes/bx-camera.svg"  alt="">
                    </div> -->
                </a>
                <a href="/alphaTeam/estudiante/contraseña">Cambio de contraseña
                    <img src="/static/imagenes/bxs-key1.svg" alt="nota">
                </a>
         </div>
            </div>

        <nav class="nav">
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES   
                </a></li>
                <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                </a></li>
                <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="/alphaTeam/estudiante/pago">PAGO
                </a></li>
                <li><img src="/static/imagenes/bx-comment-error.svg" alt="graduacion">
                    <a href="/alphaTeam/estudiante/reporte">Reportar problema
                </a></li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/estudiante/ayuda">AYUDA
                </a></li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                </a></li>
            </ul>
        </nav>
    
    </header>


     <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a>
                </li>
                <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="/alphaTeam/estudiante/pago">PAGO
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-comment-error.svg" alt="graduacion">
                    <a href="/alphaTeam/estudiante/reporte">Reportar problema
                </a></li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a>
                </li>
            </ul>
        </div>
    </div>

    
    <script src="/static/js/script.js"></script>
</body>
</html>