<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
   
</head>
<body>
    <header class="cons">
        <h1>ALPHA TEAM</h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
       

        <div class="regresar">
            <figure>
                <a href="javascript:history.back()">
                    <img src="/static/imagenes/flecharegresar.png" alt=""></a>
            </figure>
        </div>
    </header>

    <main class="cambio_contraseña">
    <h2>CAMBIO DE CONTRASEÑA</h2>
    <form class="input_boton1" id="FormContraseña" method="POST" action="/alphaTeam/estudiante/contraseña">
        <figure class="reset">
            <img src="/static/imagenes/reset-password.png" alt="Reset Password">
        </figure>

        <input type="password" id="oldPassword" name="antigua" class="botton1" placeholder="Contraseña Antigua" required maxlength="10" autofocus>
        <div class="imagen1">
            <img src="/static/imagenes/bx-lock-alt.svg" alt="Old Password">
        </div>
        <input type="password" id="newPassword" name="nueva" class="botton3" placeholder="Nueva Contraseña" required maxlength="10">
        <div class="imagen2">
            <img src="/static/imagenes/contrasena.png" alt="New Password">
        </div>

        <br>
        <input type="password" id="confirmPassword" name="confirmar" class="botton2" placeholder="Confirmar Contraseña" required maxlength="10">
        <div class="imagen">
            <img src="/static/imagenes/confirmar.png" alt="confirmar">
        </div>
        <input type="submit" value="CAMBIAR CONTRASEÑA" class="enviar">
    </form>

    <!-- Mostrar el mensaje -->
    {% if mensaje %}
    <p class="mensaje {{ mensaje_class }}" id="alert-container">{{ mensaje }}</p>
    {% endif %}
</main>
    

 <script>
document.addEventListener("DOMContentLoaded", function() {
    var alertContainer = document.getElementById('alert-container');
    
    // Solo proceder si el contenedor de la alerta existe
    if (alertContainer) {
        // Cerrar el mensaje automáticamente después de 5 segundos (opcional)
        setTimeout(function() {
            alertContainer.style.display = 'none';
        }, 5000); // 5000 ms = 5 segundos
    }
});
</script>

</body>
</html>
