<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFORMACION DOCENTE</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>

<body class="body">
    <header>
        <h1>ALPHA TEAM</h1>
        <a href="e_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

       
        

        <div class="container" id="window">
            <button class="menu-btn" >Estudiante
                <img src="/static/imagenes/estudiante.png" alt="">
            </button>
         <div class="menu-items">
        
            <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/estudiante/usuario" >Jose Miguel
                <img src="/static/imagenes/bxs-user-circle.svg" alt="nota">
                <div class="camara">
                    <img src="/static/imagenes/bx-camera.svg"  alt="">
                </div>
                </a>
                <a href="/alphaTeam/estudiante/contraseña">Cambio de contraseña
                    <img src="/static/imagenes/bxs-key1.svg" alt="nota">
                </a>
                <a href="/alphaTeam/estudiante/reporte">Reportar un problema
                    <img src="/static/imagenes/bx-world.svg" alt="nota">
                </a>
            </div>
           </div>
   

   <nav class="nav">
        <ul>

            <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES</a></li>
                    <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                        <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/estudiante/e_informaciondocente">INFORMACION DOCENTE
                    </a></li>
                    <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                        <a href="/alphaTeam/estudiante/pago">PAGO
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li>
            </a>
        </li>
        </ul>
    </nav>
    </header>




     <div class="cout" id="coutinfo">
     <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
               <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a>
                </li>
                <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="/alphaTeam/estudiante/e_informaciondocente">INFORMACION DOCENTE
                    </a>
                </li>
                <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="/alphaTeam/estudiante/pago">PAGO
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a>
                </li>
            </ul>  

        </div>
        </div>
        </div>

    
    <div class="docente">
        <h2>INFORMACION DOCENTE</h2>
    </div>
<main class="info_docente">
    <div class="contenedor">
        <div class="contenedor-imagen">
            <img src="/static/imagenes/imagenprofesor.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Arturo Perez: Es licenciado en Educación, Mención Ciencias Sociales. Se graduó en la Universidad Autónoma de Santo Domingo (UASD)  </h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/static/imagenes/profesora.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Magdalena Escoto:Es licenciada en Educación, Mención Lengua Española. Se graduó en la Universidad PUCMM.</h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/static/imagenes/profesorInformatica.jpeg" alt="">
            <div class="texto">
                <h3 class="titulo">Rafael Arias: Es licenciado en Educación, Mención Informática. Se graduó en la Universidad Autónoma de Santo Domingo (UASD)</h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/static/imagenes/profesorBiologia.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Luis José Torres:Es licenciado en Educación, Mención Biología. Se graduó en la Universidad Tecnológica de Santiago (UTESA)</h3>
            </div>
        </div>
          <!-- </div>  
   -->
</main>


  </div>
</div>

</body>
</html>