<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFORMACION DOCENTE</title>
    <link rel="stylesheet" href="/css/estudiante.css">
    <link rel="icon" href="/imagenes/icono_pagina.png">
</head>

<body class="body">
    <header>
        <h1>ALPHA TEAM</h1>
        <a href="e_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/imagenes/logo.png" alt="">
            </figure>
        </a>

       
        

        <div class="container">
            <button class="menu-btn">Estudiante
                <img src="/imagenes/estudiante.png" alt="">
            </button>
         <div class="menu-items">
        
            <h6 class="gestion"> <img src="imagenes/bx-moon.svg" alt="">Gestión perfil</h6>
            
            <a href="e_usuario.html" >Jose Miguel
                <img src="/imagenes/bxs-user-circle.svg" alt="nota">
                <div class="camara">
                <img src="/imagenes/bx-camera.svg"  alt="">
                </div>
            </a>
            <a href="e_contraseña.html">Cambio de contraseña
                <img src="/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="e_reportarproblema.html">Reportar un problema
                <img src="/imagenes/bx-world.svg" alt="nota">
            </a>
     </div>
        </div>

    <nav class="nav">
        <ul>

        <li><img src="/imagenes/bx-notepad.svg" alt="nota">
            <a href="e_miscalificaciones.html">MIS CALIFICACIONES
            </a>
        </li>
        <li><img src="/imagenes/bx-edit.svg" alt="reinscripcion">
            <a href="e_reinscripcion.html">REINSCRIPCION
            </a>
        </li>
        <li class="profesor"><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
            <a href="e_informaciondocente.html">INFORMACION DOCENTE
            </a>
        </li>
        <li> <img src="/imagenes/bxs-credit-card.svg" alt="evaluar">
            <a href="e_pago.html">PAGO
            </a>
        </li>
        <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
            <a href="e_ayuda.html">AYUDA
            </a>
        </li>
        <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
            <a href="/templates/index.html">CERRAR SESION
            </a>
        </li>
        </ul>
    </nav>
    </header>



    <div class="cout">
        <button class="menu">
            <img src="/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
    
                <li><img src="/imagenes/bx-notepad.svg" alt="nota">
                    <a href="e_miscalificaciones.html">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="e_reinscripcion.html">REINSCRIPCION
                    </a>
                </li>
                <li><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="e_informaciondocente.html">INFORMACION DOCENTE
                    </a>
                </li>
                <li> <img src="/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="e_pago.html">PAGO
                    </a>
                </li>
                <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="e_ayuda.html">AYUDA
                    </a>
                </li>
                <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/templates/index.html">CERRAR SESION
                    </a>
                </li>
            </ul>


    
    <div class="docente">
        <h2>INFORMACION DOCENTE</h2>
    </div>
<main class="info_docente">
    <div class="contenedor">
        <div class="contenedor-imagen">
            <img src="/imagenes/imagenprofesor.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Arturo Perez: Es licenciado en Educación, Mención Ciencias Sociales. Se graduó en la Universidad Autónoma de Santo Domingo (UASD)  </h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/imagenes/profesora.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Magdalena Escoto:Es licenciada en Educación, Mención Lengua Española. Se graduó en la Universidad PUCMM.</h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/imagenes/profesorInformatica.jpeg" alt="">
            <div class="texto">
                <h3 class="titulo">Rafael Arias: Es licenciado en Educación, Mención Informática. Se graduó en la Universidad Autónoma de Santo Domingo (UASD)</h3>
            </div>
        </div>
        <div class="contenedor-imagen">
            <img src="/imagenes/profesorBiologia.jpg" alt="">
            <div class="texto">
                <h3 class="titulo">Luis José Torres:Es licenciado en Educación, Mención Biología. Se graduó en la Universidad Tecnológica de Santiago (UTESA)</h3>
            </div>
        </div>
        </div>
  
</main>


  </div>
</div>

</body>
</html>