<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MIS CALIFICACIONES</title>
    <link rel="stylesheet" href="/css/estudiante.css">
    <link rel="icon" href="/imagenes/icono_pagina.png">
</head>

<body>
    <header>
        <h1>ALPHA TEAM</h1>
        <a href="e_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/imagenes/logo.png" alt="">
            </figure>
        </a>


        <div class="container_l">
            <button class="menu-btn">Estudiante
                <img src="/imagenes/estudiante.png" alt="">
            </button>
         <div class="menu-items">
        
            <h6 class="gestion"> <img src="/imagenes/bx-moon.svg" alt="">Gestión perfil</h6>
            
            <a href="e_usuario.html">Jose Miguel
                <img src="/imagenes/bxs-user-circle.svg" alt="nota">
                <div class="camara">
                <img src="/imagenes/bx-camera.svg"  alt="">
                </div>
            </a>
            <a href="e_contraseña.html">Cambio de contraseña
                <img src="/imagenes/bxs-key1.svg" alt="nota">
            </a>
            <a href="e_reportarproblema.html">Reportar un problema
                <img src="/imagenes/bx-world.svg" alt="nota">
            </a>
     </div>
        </div>

        <nav class="nav">
            <ul>
                <li class="notas"><img src="/imagenes/bx-notepad.svg" alt="nota">
                    <a href="e_miscalificaciones.html">MIS CALIFICACIONES   
                </a></li>
                <li><img src="/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="e_reinscripcion.html">REINSCRIPCION
                </a></li>
                <li><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="e_informaciondocente.html">INFORMACION DOCENTE
                </a></li>
                <li> <img src="/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="e_pago.html">PAGO
                </a></li>
                <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="e_ayuda.html">AYUDA
                </a></li>
                <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/templates/index.html">CERRAR SESION
                </a></li>
            </ul>
        </nav>
    </header>



    <div class="cout">
        <button class="menu">
            <img src="/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
                <li><img src="/imagenes/bx-notepad.svg" alt="nota">
                    <a href="e_miscalificaciones.html">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="e_reinscripcion.html">REINSCRIPCION
                    </a>
                </li>
                <li><img src="/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="e_informaciondocente.html">INFORMACION DOCENTE
                    </a>
                </li>
                <li> <img src="/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="e_pago.html">PAGO
                    </a>
                </li>
                <li><img src="/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="e_ayuda.html">AYUDA
                    </a>
                </li>
                <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="index.html">CERRAR SESION
                    </a>
                </li>
            </ul>
        </div>
    </div>


    
    <main class="calificaciones">
        <section>
        <h2>MIS CALIFICACIONES</h2>
            <table class="tabla" >
                <tr class="ml">
                    <th>ASIGNATURA.</th>
                    <th>1P</th>
                    <th>2P</th>
                    <th>3P</th>
                    <th>4P</th>
                    <th>COMP</th>
                    <th>EXT</th>
                    <th>FINAL</th>
                </tr>
                <tr>
                    <td>Lengua Española</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Matemáticas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ciencias Sociales</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ciencias Naturales</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fisica</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Educación Financiera</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Inglés</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </section>
    </main>




</body>
</html>