<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAGO</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>

<body>
    <header>
        <h1>ALPHA TEAM </h1>
        <a href="e_alphaTeam.html">
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
        </a>

        <div class="container_l">
            <button class="menu-btn">Estudiante
                <img src="/static/imagenes/estudiante.png" alt="">
            </button>
         <div class="menu-items">
        
            <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/estudiante/usuario" >Jose Miguel
                <img src="/static/imagenes/bxs-user-circle.svg" alt="">
                <!-- <div class="camara">
                    <img src="/static/imagenes/bx-camera.svg"  alt="">
                </div> -->
                </a>
                <a href="/alphaTeam/estudiante/contraseña">Cambio de contraseña
                    <img src="/static/imagenes/bxs-key1.svg" alt="nota">
                </a>
                <a href="/alphaTeam/estudiante/reporte">Reportar un problema
                    <img src="/static/imagenes/bx-world.svg" alt="nota">
                </a>
        
     </div>
        </div>

        <nav class="nav">
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES</a></li>
                    <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                        <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a></li>
                    <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                        <a href="/alphaTeam/estudiante/info_docente">INFORMACION DOCENTE
                    </a></li>
                    <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                        <a href="/alphaTeam/estudiante/pago">PAGO
                    </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li>

            </ul>
        </nav>
    </header>



    <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="e_miscalificaciones.html">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="e_reinscripcion.html">REINSCRIPCION
                    </a>
                </li>
                <li><img src="/static/imagenes/bxs-graduation.svg" alt="graduacion">
                    <a href="e_informaciondocente.html">INFORMACION DOCENTE
                    </a>
                </li>
                <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="e_pago.html">PAGO
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="e_ayuda.html">AYUDA
                    </a>
                </li>
                <li><img src="/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/templates/index.html">CERRAR SESION

                    </a>
                </li>
            </ul>
        </div>
    </div>


    <main>
        <section>
            <div class="opcion_pago">
                <figure class="tarjeta">
                    <img src="/static/imagenes/bidencash-filtra-base-tarjetas-credito-debito (2).jpg" alt="">
                </figure>
                <form class="pay_form" id="paymentForm" method="post">
                    <h2>FORMAS DE PAGO</h2>
                    <p>Elije una opción de pago</p>
                    <div class="pagos">
                        
                        <br>
                        
                        <input type="radio" name="pay" value="visa">Tarjeta<img src="/static/imagenes/visa.png" alt="">
                       
                        <input type="radio" name="pay" value="paypal">PayPal<img src="/static/imagenes/paypal.png"  alt="">
                        
                    </div>

                    <div class="pagar">
                        <button onclick="handlePayment()">PAGAR</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    
    <script>
        document.getElementById('paymentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const paymentOptions = document.getElementsByName('pay');
            let selectedOption;
            for (const option of paymentOptions) {
                if (option.checked) {
                    selectedOption = option.value;
                    break;
                }
            }

            if (selectedOption === 'visa') {
                window.location.href = 'e_confirmacionpago.html';
            } else if (selectedOption === 'paypal') {
                window.location.href = 'https://www.paypal.com/signin';
            } else {
                alert('Por favor, seleccione una opción de pago.');
                return;
            }
            
        });
    </script>
</body>
</html>
