<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAGO</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>

<body>
    <header>
        <h1>ALPHA TEAM </h1>
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>

        <div class="container_l">
            <button class="menu-btn">Estudiante
                  <img src="/static/imagenes/estudiante.png" alt="">
            </button>
         <div class="menu-items">
        
            <h6 class="gestion">Gestión perfil</h6>
            
            <a href="/alphaTeam/estudiante/usuario" >Informacion de usuario
                <img src="/static/imagenes/bxs-user-circle.svg" alt="">
                <!-- <div class="camara">
                    <img src="/static/imagenes/bx-camera.svg"  alt="">
                </div> -->
                </a>
                <a href="/alphaTeam/estudiante/contraseña">Cambio de contraseña
                    <img src="/static/imagenes/bxs-key1.svg" alt="nota">
                </a>
     </div>
        </div>

        <nav class="nav">
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES</a></li>
                    <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                        <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a></li>
                    <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                        <a href="/alphaTeam/estudiante/pago">PAGO
                    </a></li>
                     <li><img src="/static/imagenes/bx-comment-error.svg" alt="graduacion">
                    <a href="/alphaTeam/estudiante/reporte">REPORTAR PROBLEMA
                </a></li>
                    <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                        <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a></li>
                    <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                        <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a></li>

            </ul>
        </nav> 
    </header>



    <div class="cout">
        <button class="menu">
            <img src="/static/imagenes/bx-menu.svg" alt="">
        </button>
        <div class="content">
    
            <ul>
                <li><img src="/static/imagenes/bx-notepad.svg" alt="nota">
                    <a href="/alphaTeam/estudiante/calificaciones">MIS CALIFICACIONES
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-edit.svg" alt="reinscripcion">
                    <a href="/alphaTeam/estudiante/reinscripcion">REINSCRIPCION
                    </a>
                </li>
                <li> <img src="/static/imagenes/bxs-credit-card.svg" alt="evaluar">
                    <a href="/alphaTeam/estudiante/pago">PAGO
                    </a>
                </li>
                 <li><img src="/static/imagenes/bx-comment-error.svg" alt="graduacion">
                    <a href="/alphaTeam/estudiante/reporte">REPORTAR PROBLEMA
                </a></li>
                <li><img src="/static/imagenes/bx-help-circle.svg" alt="ayuda">
                    <a href="/alphaTeam/estudiante/ayuda">AYUDA
                    </a>
                </li>
                <li><img src="/static/imagenes/bx-log-out.svg" alt="cerrar">
                    <a href="/alphaTeam/templates/cerrarsesion">CERRAR SESION
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <main>
        <section>
            <div class="opcion_pago">
                <figure class="tarjeta">
                    <img src="/static/imagenes/bidencash-filtra-base-tarjetas-credito-debito (2).jpg" alt="">
                </figure>
                <form id="paymentForm" class="pay_form">
                    <h2>FORMAS DE PAGO</h2>
                    <p>Elije una opción de pago</p>
                    <div class="pagos">
                    <label>
                        <input type="radio" name="pay" value="visa"> Tarjeta de Crédito/débito <img src="/static/imagenes/visa.png"  alt="">
                    </label>
                    <label>
                        <input type="radio" name="pay" value="paypal"> PayPal <img src="/static/imagenes/pagopaypal.svg"  alt="">
                    </label>
                    <button type="submit">Continuar</button>
                </div>
                </form>
                
            </div>
        </section>
    </main>

    
    <script>
        document.getElementById('paymentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            // Obtener todas las opciones de pago (radio buttons)
            const paymentOptions = document.getElementsByName('pay');
            let selectedOption = null;
        
            // Recorrer las opciones y obtener la seleccionada
            for (const option of paymentOptions) {
                if (option.checked) {
                    selectedOption = option.value; // Guardar el valor de la opción seleccionada
                    break;
                }
            }
        
            // Comprobar cuál opción fue seleccionada y redirigir
            if (selectedOption === 'visa') {
                window.location.href = '/alphaTeam/estudiante/e_metodopago'; // Redirigir a la ruta Flask para "Visa"
            } else if (selectedOption === 'paypal') {
                window.location.href = 'https://www.paypal.com/signin'; // Redirigir a PayPal
            } else {
                alert('Por favor, seleccione una opción de pago.'); // Mostrar alerta si no se seleccionó nada
            }
        });
        
        
    </script>
</body>
</html>
