<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar un problema</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/pruebalogo__2_-removebg-preview.png">
</head>
<body>
    <header>
            <h1>ALPHA TEAM</h1>
            <a href="e_alphaTeam.html">
                <figure class="logo_pagina">
                    <img src="/static/imagenes/logo.png" alt="">
                </figure>
            </a>
            
            <div class="regresar">
                <figure>
                     <a href="javascript:history.back()">
                    <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>

    <main>
        <section class="reporte">
            <h2>INDICANOS CUAL ES TU PROBLEMA</h2>
            <form id="reportarForm">
                <label for="repotar"></label>
                <textarea name="reportar" id="reportar2" cols="30" rows="10" placeholder="Describe aquí tu problema"></textarea>

                <input type="submit" value="Borrar" class="report_ev" id="Borrar">
                <input type="submit" value="Enviar reporte" class="report_ev" id="reportes">
                
            </form>
        </section>
    </main>

    <script>
        document.getElementById("reportarForm").addEventListener("submit", function(event) {
            event.preventDefault();
            alert("reporte enviado correctamente")
        
        });
        
        
        document.getElementById("Borrar").addEventListener("click", function() {
            document.getElementById("reportar2").value = "" ;
        });
    </script>
</body>
</html>