<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" href="/static/css/estudiante.css">
    <link rel="icon" href="/static/imagenes/icono_pagina.png">
</head>
<body>
    <header>
        <h1>ALPHA TEAM</h1>
      
            <figure class="logo_pagina">
                <img src="/static/imagenes/logo.png" alt="">
            </figure>
            <div class="regresar" id="back">
                <figure>
                    <a href="javascript:history.back()">
                        <img src="/static/imagenes/flecharegresar.png" alt=""></a>
                </figure>
            </div>
    </header>
    <main>
    <section class="inf_basica_estudiante">
        <h2>MI INFORMACIÓN BÁSICA PERSONAL</h2>
         <form action="/alphaTeam/profesor/usuarioprofesor" method="POST" enctype="multipart/form-data" id="imageUploadForm">
            <figure class="estudiante-img">
                <img src="{{'/alphaTeam/profesor/usuarioprofesor'}}" alt="" id="imagenPrevia">
                <img src="/static/imagenes/bx-trash.svg" alt="" class="borrar">
                <label for="imageInput"></label>
                <input type="file" name="image" id="imageInput">
                <button type="submit" id="uploadButton">Subir</button>
            </figure>
        </form>
<div class="titinfo">
<h4>Nombre</h4><img src="/static/imagenes/bx-user copy.svg" alt="">
<p>{{ estudiante.nombre if estudiante else 'No disponible' }}</p>

<h4>Apellidos</h4><img src="/static/imagenes/bxs-user-detail.svg" alt="">
<p>{{ estudiante.apellidos if estudiante else 'No disponible' }}</p>

<h4>Género</h4><img src="/static/imagenes/bx-male-female.svg" alt="">
<p>{{ estudiante.sexo_estudiante if estudiante else 'No disponible' }}</p>

<h4>Dirección</h4><img src="/static/imagenes/ubicacion.png" alt="">
<p class="direccion">{{ tutor.direccion if tutor else 'No disponible' }}</p>

        </div>
    </section>
    </main>
    <script src="/static/js/cambiofoto.js"></script>
</body>
</html>